const NotFound = { template: '<p>'+window.location.pathname+' -> Page not found</p>' }
const router = new VueRouter({
mode: 'history',
routes:[
{path: '/', component: window.httpVueLoader('/Reservation/Accueil/VueAccueil.vue')},
{path: '/Sorties', component: window.httpVueLoader('/Reservation/Spectacle/VueList.vue')},
{path: '/Sorties/:url', component: window.httpVueLoader('/Reservation/Spectacle/VueFiche.vue')},
{path: '/Partenaires', component: window.httpVueLoader('/Reservation/Organisation/VuePart.vue')},
{path: '/Partenaires/:url', component: window.httpVueLoader('/Reservation/Organisation/VueFiche.vue')},
{path: '/Relais-Sociaux', component: window.httpVueLoader('/Reservation/Client/VueRelais.vue')},
{path: '/Relais-Sociaux/:url', component: window.httpVueLoader('/Reservation/Client/VueFiche.vue')},
{path: '/Actualites-Passees', component: window.httpVueLoader('/News/Nouvelle/VueArchives.vue')},
{path: '/Actualites-Passees/:url', component: window.httpVueLoader('/News/Nouvelle/VueFiche.vue')},
{path: '/Nouvelles', redirect : '/'},
{path: '/Nouvelles/:url', component: window.httpVueLoader('/News/Nouvelle/VueFiche.vue')},
{path: '/Contact', component: window.httpVueLoader('/Systeme/Utils/Contact/VueContact.vue')},
{%  for menu in User.Menus %}
    {% if menu.Url!='' and menu.Url!='Sorties'  and menu.Url!='Partenaires'  and menu.Url!='Relais-Sociaux'  and menu.Url!='Evenement-passe' and menu.Url!='Nouvelles' and menu.Url!='Contact'%}
        {path: '/{{ menu.Url }}', component: window.httpVueLoader('/{{ menu.Alias }}/VuePage.vue'+'?tms='+Date.now())},
        {%  for men in menu.Menus %}
            {path: '/{{ menu.Url }}/{{ men.Url }}', component: window.httpVueLoader('/{{ men.Alias }}/VuePage.vue'+'?tms='+Date.now())},
        {% endfor %}
    {% endif %}
{% endfor %}
],
scrollBehavior (to, from, savedPosition) {
if (savedPosition) {
return savedPosition
} else {
return { x: 0, y: 0 }
}
}
});

//Declaration filtre
Vue.filter('date', function (value) {
if (value == '' || value == null || value == undefined) return N/A;
var vals = value.split('/');
var tmpDate = vals[2]+'-'+vals[1]+'-'+vals[0];
var date = new Date(tmpDate);
//console.error( date.toLocaleDateString("fr-FR"), value );
return value;
});
Vue.filter('timestamp', function (value) {
var timstampjs = parseInt(value) * 1000;

var t = new Date(timstampjs).getHours() + ":" + new Date(timstampjs).getMinutes();
var d = new Date(timstampjs).toLocaleDateString("fr-FR");
return (d + " <br> à " + t);
});

const specId = { val:null };
window.spec = new Vue({
el: '#app',
data: {
genre: '',
spectacles: [],
spectacle: false,
organisations: [],
organisation: false,
date: '',
appDate : '',
search: '',
dirty: 0,
render: true,
first: true,
currentRoute: window.location.pathname,
specId :''
},
router: router,
components: {
headerMenu: window.httpVueLoader('/Systeme/Header/VueMenu.vue'),
footerNewsletter : window.httpVueLoader('/Systeme/Bloc/VueNewsletter.vue'),
vuejsDatepicker:''
}
});
window.spec2 = new Vue({
el: '#footerlinks',
data: {
render: true
},
components: {
footerNewsletter : window.httpVueLoader('/Systeme/Bloc/VueNewsletter.vue')
}
});
window.spec3 = new Vue({
el: '#modalLogin',
data: {
render: true,
specId:''
},
components: {
modalLogin : window.httpVueLoader('/Systeme/Login/VueLogin.vue')
}
});

