<div id="mainmenu"  v-if="!render">
    <div class="espacepro pull-right" style="z-index:20000;">
        <a href="#" data-toggle="modal" data-target="#login-modal">Espace Pro</a>
    </div>
    <nav class="nav" role="navigation">
        <ul class="menu">
            {% for menu in menus %}
                <li><a href="/{{ menu.Url }}">{{ menu.Titre }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
<script>
    function closePop() {
        document.getElementById("myModal").style.display = "none";
    }
</script>
<div id="myModal" class="modal fade in" role="dialog" style="display: block;padding-left: 17px;">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" onclick="closePop()">&times;</button>
                <h4 class="modal-title">Information Coronavirus</h4>
            </div>
            <div class="modal-body">
                <p>Bonjour à toutes et à tous,<br><br>
                    En raison des mesures de prévention annoncées par le gouvernement, nos bureaux seront
                    fermés jusqu'à nouvel ordre.<br><br>
                    Vous pouvez bien évidemment nous contacter par mail à l'adresse suivante :
                    direction@css34.fr ou en cas d'urgence uniquement, joindre le 07.60.00.54.74.<br><br>
                    Nous vous invitons à consulter notre site ou notre page facebook pour rester informés.
                    A très vite !!<br><br>
                    L'équipe de CSS34.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="closePop()">Fermer</button>
            </div>
        </div>
    </div>
</div>
<div id="submenu"  v-if="!render">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                <div class="logo">
                     <a href="/"><img src="/{{ user.Avatar }}" class="img-responsive" /></a>
                 </div>
            </div>
            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                <a class="square blue" href="/Ateliers">
                    {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-LEFT'))) }}
                </a>
            </div>
            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3 ">
                <a class="square green" href="/Sorties">
                    {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-CENTER'))) }}
                </a>
            </div>
            <div class="col-lg-3 col-xs-3 col-md-3 col-sm-3">
                <a class="square pink" href="/Formations">
                    {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-RIGHT'))) }}
                </a>
            </div>
        </div>
    </div>
</div>