<div id="mainmenu"  v-if="!render">
    <div class="espacepro pull-right hidden-xs">
        <a href="#" data-toggle="modal" data-target="#login-modal">Espace Pro</a>
    </div>
    <nav class="nav" role="navigation">
        <ul class="menu">
            {% for menu in menus %}
                <li><a href="/{{ menu.Url }}">{{ menu.Titre }}</a></li>
            {% endfor %}
        </ul>
    </nav>
</div>
<div id="submenu"  v-if="!render">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-xs-3  col-md-3">
                <div class="logo">
                     <a href="/"><img src="/{{ user.Avatar }}" class="img-responsive" /></a>
                 </div>
            </div>
            <div class="col-lg-3 col-xs-3  col-md-3">
                <a class="square blue" href="/Ateliers">
                    {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-LEFT'))) }}
                </a>
            </div>
            <div class="col-lg-3 col-xs-3  col-md-3">
                <a class="square green" href="/Sorties">
                    {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-CENTER'))) }}
                </a>
            </div>
            <div class="col-lg-3 col-xs-3  col-md-3">
                <a class="square pink" href="/Formations">
                    {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-RIGHT'))) }}
                </a>
            </div>
        </div>
    </div>
</div>