<template>
    <div>
        <div id="mainmenu">
            <div class="espacepro pull-right hidden-xs">
                <a href="#" data-toggle="modal" data-target="#login-modal">Espace Pro</a>
            </div>
            <nav class="nav " role="navigation">
                <div class="container">
                    <ul class="menu ">
                        {% for menu in menus %}
                            <li>
                                <router-link to="/{{ menu.Url }}">{{ menu.Titre }}</router-link>
                            </li>
                        {% endfor %}
                    </ul>
                    <div id="wrap" style="flex-direction: column">
{#                                <img src="Skins/Css34/Css/images/UI-burger-menu-512.png" alt="menu" style="width:40px;height: 40px;">#}{#css#}
                        <div id="open">
                            <a href="#wrap" id="open">
                                <svg viewBox="0 0 100 80" width="40" height="40">
                                    <rect width="100" height="20" rx="8"></rect>
                                    <rect y="30" width="100" height="20" rx="8"></rect>
                                    <rect y="60" width="100" height="20" rx="8"></rect>
                                </svg>
                            </a>
                        </div>

                            <div id="close" style="background-color: #d7d7d7;width: 100%">
                                <div id="float">
                                    <a href="#">
{#                                        <svg viewBox="0 0 100 80" width="40" height="40">#}
{#                                            <rect width='50' height='15' transform='translate(35 25) rotate(48)' />#}
{#                                            <rect width='50' height='15' transform='translate(68 35) rotate(130)' />#}
{#                                            <rect width='50' height='15' transform='translate(10 35) skewY(-42)' />#}
{#                                            <rect width='50' height='15' transform='translate(10 -10) skewY(42)' />#}
{#                                        </svg>#}
                                        <i class="fa fa-times"></i>
                                    </a>
                                    {% for menu in menus %}
                                        <span>
                                            <a href="/{{ menu.Url }}">{{ menu.Titre }}</a>
                                        </span>
                                    {% endfor %}
                                </div>
                            </div>
                    </div>
                </div>
            </nav>
        </div>
        <div id="submenu">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-xs-3  col-md-3 submenu-container logo-container">
                        <div class="logo">
                            <router-link to="/"><img src="/{{ user.Avatar }}" class="img-responsive"/></router-link>
                        </div>
                    </div>
                    <div class="col-lg-3  col-xs-3  col-md-3 submenu-container square-container">
                        <router-link to="/Ateliers" class="square blue">
                            {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-LEFT'))) }}
                        </router-link>
                    </div>
                    <div class="col-lg-3  col-xs-3  col-md-3 submenu-container square-container">
                        <router-link class="square green" to="/Sorties">
                            {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-CENTER'))) }}
                        </router-link>
                    </div>
                    <div class="col-lg-3  col-xs-3  col-md-3 submenu-container square-container">
                        <router-link class="square pink" to="/Formations">
                            {{ include(template_from_string(module('Systeme/Bloc/Menu?CODE=MENU-RIGHT'))) }}
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    module.exports = {
        name: 'header-menu',
        template: '#header',
        data() {
            return {
                render: true
            };
        }
    }

</script>