<div class="timeline-container">
    {% for d in dates %}
        <a class="timeline-item {{ d.selected ? 'selected':'' }}" v-on:click.prevent="onDateClick('{{ d.value }}')"  href="?genre={{ genre }}&search={{ search }}&date={{ d.value }}" :class="{selected: date == '{{ d.value }}'}">
           <span>{{ d.jour }}</span>
            <h6>{{ d.num }}</h6>
            <span class="Mois">{{ d.mois }}</span>
        </a>
    {% endfor %}
</div>