<div class="page-content-inner">
    <!-- Profile Header -->
    <nav class="top-submenu top-submenu-with-background">
        <div class="profile-header">
            <div class="profile-header-info">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="width-100 text-center pull-right hidden-md-down">
                            <h2>{{ EsxCount }}</h2>
                            <p>ESXi</p>
                        </div>
                        <div class="width-100 text-center pull-right hidden-md-down">
                            <h2>{{ EsxVmCount }}</h2>
                            <p>Machines virtuelles</p>
                        </div>
                        <div class="profile-header-title">
                            <h2>{% if User.Nom or User.Prenom %} {{ User.Prenom }} {{ User.Nom }} {% else %} John Doe {% endif %}<small>@{{ User.Login }}</small></h2>
                            <p><i class="icmn-quill3"></i> {{ User.Mail }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Profile Header -->

    <!-- Profile -->
    <div class="row">
        <div class="col-xl-12">
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="form-group padding-top-10 margin-bottom-0">
                        <h2>Déploiement</h2>
                        <blockquote>Cette fonctionnalités vous permet de déployer un AbtelBackup sur un esxi configuré au préalable. Pour configurer un esxi, veuillez ajouter un esxi <a href="#/vm/esx">en cliquant ici</a>, cliquez sur "Ajouter" et saisissez toutes les informations nécessaires. Revenez ensuite sur cette page pour déployer AbtelBackup.</blockquote>
                        <div class="card">
                            <div class="card-header">
                                Featured
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item" ng-repeat="esx in esxs">
                                    {[{ esx.label }]} - {[{ esx.description }]}
                                    <button class="btn btn-small btn-primary pull-right" ng-click="deployAbtelBackup()">
                                        <i class="fa fa-delete margin-right-5"></i>
                                        Déployer
                                    </button></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="form-group padding-top-10 margin-bottom-0">
                        <h2>Réinitialisation</h2>
                        <blockquote>Cette fonctionnalités vous permet de réinitialiser aux valeurs d'usines l'ensemble des valeurs, historiques et encore configurations de votre abtel Backup. Toutes les données seront perdues.</blockquote>
                        <button class="btn btn-primary width-200 margin-top-10" ng-click="resetData()">
                            <i class="fa fa-delete margin-right-5"></i>
                            Réinitialiser
                        </button>
                    </div>
                </div>
            </section>
            <section class="panel profile-user-content">
                <div class="panel-body">
                    <div class="form-group padding-top-10 margin-bottom-0">
                        <h2>Création des dossiers</h2>
                        <blockquote>Cette fonctionnalités vous permet de créer les dossiers dans le cas d'une modification du disque de sauvegarde. TECHNICIEN Uniquement</blockquote>
                        <button class="btn btn-primary width-200 margin-top-10" ng-click="initFolders()">
                            <i class="fa fa-run margin-right-5"></i>
                            Lancer
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- End Profile -->

</div>
