{% if state == 0 %}
    {{ return | raw }}
{% elseif state == 1%}
    <div>Exports des structures Culturelles</div>
    <div>
        <u>Sélection demandée :</u><br />
        <span>{%  if V is not empty %}Ville : {{ V }} {% endif %} </span>
        <span>{%  if D is not empty %}Departement : {{ D }} {% endif %}</span>
        <span>{%  if CP is not empty %}Code postal : {{ CP }} {% endif %}</span>
    </div>
    <div>
        <button ng-click="validExpOrg();">Générer PDF</button>
        <button ng-click="init();">Retour à la selection</button>
    </div>
{% elseif state == 2 %}
    <button ng-click="init();">Retour à la selection</button>
    <iframe src="/Reservation/Statistiques/ExpOrganisations.pdf?v={{ V }}&d={{ D }}&cp={{ CP }}&e={{ Etiq }}&state=3" frameborder="0" style="width:100%;height:900px;"></iframe>
{% endif %}