{#{{ return.html|raw }}#}
{#<div id="ttt" custom-select="a.id as a.label for a in getSelectData('{{ store }}',$searchTerm)" ng-model="{{ obj }}.{{ field.objectName }}{{ field.name }}" class="form-control" ng-title="{{ obj }}.{{ field.objectName }}{{ field.name }}label"></div>#}

{{ return|raw }}


{#<div id="ttt" ng-model="{{ obj }}.{{ field.objectName }}{{ field.name }}" class="form-control" ng-title="{{ obj }}.{{ field.objectName }}{{ field.name }}label"></div>#}

