
<div id="AlertesJobsTop" class="header-buttons" ng-controller="BackupAdminMenuTopCtrl">
    <div class="dropdown">
        <a href="javascript: void(0);" class="dropdown-toggle dropdown-inline-button" data-toggle="dropdown" aria-expanded="false">
            <i class="dropdown-inline-button-icon icmn-folder-open"></i>
            {#<span id="eCount" class="{% if ECount > 0 %}danger{% else %}success{% endif %}">{{ ECount }}</span>#}
            <span id="eCount" ng-class="{danger:store.data['TopMenuErr'].length>0,success:store.data['TopMenuErr'].length==0}">{[{ store.total['TopMenuErr'] }]}</span>
            <span id="rCount" >{[{ store.total['TopMenuRun'] }]}</span>
            <span class="hidden-lg-down">Statut des jobs</span>
            <span class="caret"></span>
        </a>
        {#ERREURS#}
        <ul class="dropdown-menu" aria-labelledby="" role="menu">
            <div id="vmErrors">
                <div class="dropdown-header">Erreur(s) Job Vm :</div>
                <div class="dropdown-item-wrap clearfix" ng-repeat="err in store.data['TopMenuErr'] | filter:isVm() as results1">
                    <a class="dropdown-item-left"  href="#/{{ Urls.Activity }}/{[{ err.id }]}" title="{[{ err.Details | limitTo:240 }]}"><i class="dropdown-icon icmn-shield-notice prio_Desastre"></i> {[{ err.Titre }]}</a>
                    <a class="dropdown-item-right"  href="#/{{ Urls.Activity }}/{[{ err.id }]}" title="Vu"><i class="dropdown-icon icmn-user-check prio_Info"></i> Vu</a>
                </div>
                <a class="dropdown-item" href="#" title="Aucune erreur" ng-if="results1.length === 0"><i class="dropdown-icon icmn-shield-notice prio_allGood"></i> Aucune erreur </a>
            </div>
            <div class="dropdown-divider"></div>
            <div id="sambaErrors">
                <div class="dropdown-header">Erreur(s) Job Samba :</div>
                <div class="dropdown-item-wrap clearfix" ng-repeat="err in store.data['TopMenuErr'] | filter:isSamba() as results2">
                    <a class="dropdown-item-left"  href="#/{{ Urls.Activity }}/{[{ err.id }]}" title="{[{ err.Details | limitTo:240 }]}"><i class="dropdown-icon icmn-shield-notice prio_Desastre"></i> {[{ err.Titre }]}</a>
                    <a class="dropdown-item-right"  href="#/{{ Urls.Activity }}/{[{ err.id }]}" title="Vu"><i class="dropdown-icon icmn-user-check prio_Info"></i> Vu</a>
                </div>
                <a class="dropdown-item" href="#" title="Aucune erreur" ng-if="results2.length === 0"><i class="dropdown-icon icmn-shield-notice prio_allGood"></i> Aucune erreur </a>
            </div>
            <div class="dropdown-divider"></div>
            <div id="remoteErrors">
                <div class="dropdown-header">Erreur(s) Job Remote :</div>
                <div class="dropdown-item-wrap clearfix" ng-repeat="err in store.data['TopMenuErr'] | filter:isRemote() as results3">
                    <a class="dropdown-item-left"  href="#/{{ Urls.Activity }}/{[{ err.id }]}" title="{[{ err.Details | limitTo:240 }]}"><i class="dropdown-icon icmn-shield-notice prio_Desastre"></i> {[{ err.Titre }]}</a>
                    <a class="dropdown-item-right"  href="#/{{ Urls.Activity }}/{[{ err.id }]}" title="Vu"><i class="dropdown-icon icmn-user-check prio_Info"></i> Vu</a>
                </div>
                <a class="dropdown-item" href="#" title="Aucune erreur" ng-if="results3.length === 0"><i class="dropdown-icon icmn-shield-notice prio_allGood"></i> Aucune erreur </a>
            </div>
            <br>
            <div class="dropdown-item-wrap clearfix">
                {#<a class="dropdown-item-left" href="javascript:void(0)">Toutes les erreurs</a>#}
                <a class="dropdown-item-right"  href="#/" title="Vu"><i class="dropdown-icon icmn-user-check prio_Info"></i> Tous vus</a>
            </div>
        {#/ERREURS#}
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
        {#ENCOURS#}

            <div id="vmErrors">
                <div class="dropdown-header">Job(s) Vm en cours:</div>
                <a class="dropdown-item" ng-repeat="jb in store.data['TopMenuRun'] | filter:isVm() as results1" href="#/{{ Urls.Activity }}/{[{ jb.id }]}" title="{[{ jb.Details }]}">
                    <i class="dropdown-icon icmn-shield-notice prio_Desastre"></i> {[{ jb.Titre }]}<br>
                    <progress class="progress progress-danger progress-striped progress-animated" ng-if="jb.Progression < 100" value="{[{ jb.Progression }]}" max="100" title="{[{ jb.Progression }]}%">{[{ jb.Progression }]}%</progress>
                    <progress class="progress progress-success progress-striped progress-animated" ng-if="jb.Progression == 100" value="{[{ jb.Progression }]}" max="100" title="{[{ jb.Progression }]}%">{[{ jb.Progression }]}%</progress>
                </a>
                <a class="dropdown-item" href="#" title="Aucune erreur" ng-if="results1.length === 0"><i class="dropdown-icon icmn-shield-notice prio_allGood"></i> Aucun job en cours </a>

            </div>
            <div class="dropdown-divider"></div>
            <div id="sambaErrors">
                <div class="dropdown-header">Job(s) Samba en cours:</div>
                <a class="dropdown-item" ng-repeat="jb in store.data['TopMenuRun'] | filter:isSamba() as results2" href="#/{{ Urls.Activity }}/{[{ jb.id }]}" title="{[{ jb.Details }}">
                    <i class="dropdown-icon icmn-shield-notice prio_Desastre"></i> {[{ jb.Titre }]}<br>
                    <progress class="progress progress-danger progress-striped progress-animated" ng-if="jb.Progression < 100" value="{[{ jb.Progression }]}" max="100" title="{[{ jb.Progression }]}%">{[{ jb.Progression }]}%</progress>
                    <progress class="progress progress-success progress-striped progress-animated" ng-if="jb.Progression == 100" value="{[{ jb.Progression }]}" max="100" title="{[{ jb.Progression }]}%">{[{ jb.Progression }]}%</progress>
                </a>
                <a class="dropdown-item" href="#" title="Aucune erreur" ng-if="results2.length === 0"><i class="dropdown-icon icmn-shield-notice prio_allGood"></i> Aucun job en cours </a>
            </div>
            <div class="dropdown-divider"></div>
            <div id="remoteErrors">
                <div class="dropdown-header">Job(s) Remote en cours:</div>
                <a class="dropdown-item" ng-repeat="jb in store.data['TopMenuRun'] | filter:isRemote() as results3" href="#/{{ Urls.Activity }}/{[{ jb.id }]}" title="{[{ jb.Details }}">
                    <i class="dropdown-icon icmn-shield-notice prio_Desastre"></i> {[{ jb.Titre }]}<br>
                    <progress class="progress progress-danger progress-striped progress-animated" ng-if="jb.Progression < 100" value="{[{ jb.Progression }]}" max="100" title="{[{ jb.Progression }]}%">{[{ jb.Progression }]}%</progress>
                    <progress class="progress progress-success progress-striped progress-animated" ng-if="jb.Progression == 100" value="{[{ jb.Progression }]}" max="100" title="{[{ jb.Progression }]}%">{[{ jb.Progression }]}%</progress>
                </a>
                <a class="dropdown-item" href="#" title="Aucune erreur" ng-if="results3.length === 0"><i class="dropdown-icon icmn-shield-notice prio_allGood"></i> Aucun job en cours </a>
            </div>
            <br>
            {#<a class="dropdown-item" href="javascript:void(0)">Tous les jobs en cours</a>#}
        </ul>
        {#/ENCOURS#}
    </div>
</div>

