{# fiche printAttestation #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label %} 
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading" style="padding-bottom:10px; padding-top:10px">
            <h4>
                {{ CurrentMenu.Titre }}
            </h4>
        </div>
        <div class="row" style="height:10px"></div>
		<div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body cadref-no-padding">
							<div class="row">
								<div class="col-xl-8">
									<div class="row">
										<div class="col-md-2">
											{{ label("Année cotisation") }}
										</div>
										<div class="col-md-2">
											<select class="form-control cadref-input" ng-model="obj.AttestAnnee" ng-change="selectAttestAnnee(obj)">
												{% for k,v in attestAnnees %}
													<option value="{{ k }}">{{ v }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Année fiscale") }}
										</div>
										<div class="col-md-2">
											<select class="form-control cadref-input" ng-model="obj.AttestFiscale" ng-options="label for label in obj.fiscales">
											</select>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Antenne") }}
										</div>
										<div class="col-md-4">
											<select class="form-control cadref-input" ng-model="obj.Antenne">
												{% for k,v in antennes %}
													<option value="{{ k }}">{{ v }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Classe ou niveau") }}
										</div>
										<div class="col-md-2">
											<input type="text" class="form-control cadref-input" ng-model="obj.Classe"/>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Sans mail") }}
										</div>
										<div class="col-md-4">
											<switch ng-model="obj.NoMail" class="cadref-switch"></switch>
										</div>
									</div>
									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-2">
										</div>
										<div class="col-md-2">
											<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="printFunction('print')">Imprimer</button>
										</div>
										<div class="col-md-2">
											<button type="button" class="btn btn-primary margin-inline cadref-btn-100" ng-click="printFunction('mail')">Message</button>
										</div>
									</div>
								</div>                            
							</div>
						</div>
					</div>
				</div>
			</div>
    </section>
</div>

