{# fiche printAdherent #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean %} 
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading" style="padding-bottom:10px; padding-top:10px">
            <h4>
                {{ CurrentMenu.Titre }}
            </h4>
        </div>
        <div class="row" style="height:20px"></div>
		<div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body cadref-no-padding">
							<div class="row">
								{% if mode==0 %}
									<div class="col-xl-8">

										<div class="row">
											<div class="col-md-2">
												{{ label("Type adhérent") }}
											</div>
											<div class="col-md-4">
												<select class="form-control cadref-input" ng-model="obj.TypeAdherent" ng-init="obj.TypeAdherent=''">
													{% for a,b in typeAdh %}
														<option value="{{ a }}">{{ b }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-md-1">
												{{ label("Nouveaux inscrits") }}
											</div>
											<div class="col-md-4">
												<switch ng-model="obj.Nouveau"></switch>
											</div>
										</div>
										<div class="row" style="height:10px"></div>
										<div class="row">
											<div class="col-md-2">
												{{ label("Antenne") }}
											</div>
											<div class="col-md-4">
												<select class="form-control cadref-input" ng-model="obj.Antenne" ng-init="obj.Antenne=''">
													{% for a,b in antennes %}
														<option value="{{ a }}">{{ b }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="row" style="height:10px"></div>
										<div class="row">
											<div class="col-md-2">
												{{ label("Disciplines") }}
											</div>
											<div class="col-md-4">
												<div class="row">
													<div class="col-md-12">
														<div class="raw">
															<div class="col-md-6">
																<input type="text" class="form-control cadref-input" ng-model="obj.Disc[0]" mask="@.@@.@@.d.d" style="width:130px" onkeyup="this.value = this.value.toUpperCase()"/>
															</div>
															<div class="col-md-6">
																<div class="raw">
																	<div class="col-md-6">
																		{{ label('Exclure') }}
																	</div>
																	<div class="col-md-6">
																		<switch ng-model="obj.Excl[0]" class="cadref-switch"></switch>
																	</div>
																</div>
															</div>
														</div>

														<div class="raw">
															<div class="col-md-6">
																<input type="text" class="form-control cadref-input" ng-model="obj.Disc[1]" mask="@.@@.@@.d.d" style="width:130px" onkeyup="this.value = this.value.toUpperCase()"/>
															</div>
															<div class="col-md-6">
																<div class="raw">
																	<div class="col-md-6">
																	</div>
																	<div class="col-md-6">
																		<switch ng-model="obj.Excl[1]" class="cadref-switch"></switch>
																	</div>
																</div>
															</div>
														</div>

														<div class="raw">
															<div class="col-md-6">
																<input type="text" class="form-control cadref-input" ng-model="obj.Disc[2]" mask="@.@@.@@.d.d" style="width:130px" onkeyup="this.value = this.value.toUpperCase()"/>
															</div>
															<div class="col-md-6">
																<div class="raw">
																	<div class="col-md-6">
																	</div>
																	<div class="col-md-6">
																		<switch ng-model="obj.Excl[2]" class="cadref-switch"></switch>
																	</div>
																</div>
															</div>
														</div>
														<div class="raw">
															<div class="col-md-6">
																<input type="text" class="form-control cadref-input" ng-model="obj.Disc[3]" mask="@.@@.@@.d.d" style="width:130px" onkeyup="this.value = this.value.toUpperCase()"/>
															</div>
															<div class="col-md-6">
																<div class="raw">
																	<div class="col-md-6">
																	</div>
																	<div class="col-md-6">
																		<switch ng-model="obj.Excl[3]" class="cadref-switch"></switch>
																	</div>
																</div>
															</div>
														</div>
														<div class="raw">
															<div class="col-md-6">
																<input type="text" class="form-control cadref-input" ng-model="obj.Disc[4]" mask="@.@@.@@.d.d" style="width:130px" onkeyup="this.value = this.value.toUpperCase()"/>
															</div>
															<div class="col-md-6">
																<div class="raw">
																	<div class="col-md-6">
																	</div>
																	<div class="col-md-6">
																		<switch ng-model="obj.Excl[4]" class="cadref-switch"></switch>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="col-md-4">
												<div class="row">
													<div class="col-md-4">
														{{ label("Inscrits Attentes") }}
													</div>
													<div class="col-md-4">
														<select class="form-control cadref-input" ng-model="obj.Attente" ng-init="obj.Attente=''">
															{% for a,b in attentes %}
																<option value="{{ a }}">{{ b }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														{{ label("Odre d'attente") }}
													</div>
													<div class="col-md-8">
														<switch ng-model="obj.OrdreAtt"></switch>
													</div>
												</div>
												<div class="row">
													<div class="col-md-4">
														{{ label("Mail") }}
													</div>
													<div class="col-md-4">
														<select class="form-control cadref-input" ng-model="obj.Mail" ng-init="obj.Mail=''">
															{% for a,b in mails %}
																<option value="{{ a }}">{{ b }}</option>
															{% endfor %}
														</select>
													</div>
												</div>
											</div>
										</div>
										<div class="row" style="height:10px"></div>

										<div class="row">
											<div class="col-md-2">
												{{ label("Jour de la semaine") }}
											</div>
											<div class="col-md-4">
												<select class="form-control cadref-input" ng-model="obj.Jour" ng-init="obj.Jour=''">
													{% for a,b in jours %}
														<option value="{{ a }}">{{ b }}</option>
													{% endfor %}
												</select>
											</div>
											<div class="col-md-1">
												{{ label("Lieu") }}
											</div>
											<div class="col-md-2">
												<input type="text" class="form-control cadref-input" ng-model="obj.Lieu"/>
											</div>
										</div>
										<div class="row" style="height:10px"></div>
										<div class="row">
											<div class="col-md-2">
												{{ label("Rupture") }}
											</div>
											<div class="col-md-4">
												<select class="form-control cadref-input" ng-model="obj.Rupture" ng-init="obj.Rupture='N'">
													{% for a,b in ruptures %}
														<option value="{{ a }}">{{ b }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="row" style="height:10px"></div>
										<div class="row">
											<div class="col-md-2">
												{{ label("Mode d'impression") }}
											</div>
											<div class="col-md-4">
												<select class="form-control cadref-input" ng-model="obj.Contenu" ng-init="obj.Contenu=''">
													{% for a,b in contenu %}
														<option value="{{ a }}">{{ b }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="row" style="height:10px"></div>
									</div>

									<div class="col-xl-4">
									</div>
								{% endif %}
								<div class="row" style="height:10px"></div>

								<div class="row">
									<div class="col-xl-8">
										<div class="col-md-2">
										</div>
										<div class="col-md-2">
											<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="printFunction()">Imprimer</button>
										</div>
									</div>
								</div>
							</div>                            

						</div>
					</div>
				</div>
			</div>
	</section>
</div>


<script>
	$('.datepicker-only-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		format: 'DD/MM/YYYY',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});

	//Tweak moche a voir si on peut pas faire plus propre depuis le controller :x
	$(".datepicker-only-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
</script>
