{% for field in formfields %}
    <div class="row">
        <div class="col-md-6">
            <label class="form-control-label" for="l0">{{ field.description }}</label>
            <small>{{ field.help }}</small>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-danger': modalObj.fieldErrors.length && modalObj.fieldErrors.indexOf('{{ field.name }}') !== -1}">
            {% if field.type == "date" %}
                    <label class="input-group datepicker-only-init">
                        <input type="text" class="form-control" placeholder="Sélectionnez une date" ng-model="modalObj.{{ field.name }}"/>
                        <span class="input-group-addon">
                            <i class="icmn-calendar"></i>
                        </span>
                    </label>
            {% elseif field.type == "fkey" and field.card == "short" %}
                <div custom-select="a.id as a.label for a in getSelectData('{{ field.objectModule }}{{ field.objectName }}Store',$searchTerm)" custom-select-options="{ 'async': true }" ng-model="modalObj.{{ field.name }}" class="form-control" ng-title="modalObj.{{ field.name }}label"></div>
<!--                <div custom-select="a.id as a.label for a in {{ field.objectModule }}{{ field.objectName }}Store.getDataFilter($searchTerm)" custom-select-options="{ 'async': true }" ng-model="modalObj.{{ field.name }}" class="form-control" ng-title="modalObj.{{ field.name }}label"></div>-->
            {% elseif field.type == "boolean" %}
                <switch id="enabled" name="enabled" ng-model="modalObj.{{ field.name }}" class="green"></switch>
            {% elseif field.type == "rkey" %}
                <div>ICI LA </div>
            {% else %}
                {% if field.Values %}
                    <select class="form-control" ng-model="modalObj.{{ field.name }}" >
                        {% for v,k in field.Values %}
                            <option value="{{ v }}">{{ k }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="text" class="form-control" placeholder="" id="input-{{ field.name }}" ng-model="modalObj.{{ field.name }}">
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
<script>
    $('.datepicker-only-init').datetimepicker({
        widgetPositioning: {
            horizontal: 'left'
        },
        locale: 'fr',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
    });
</script>