{% for field in formfields %}
    {% if field.type != "rkey" and field.type != "text" and field.type != "raw" and field.card != "long"%}
    <div class="row">
        <div class="col-md-6">
            <label class="form-control-label" for="l0">{{ field.description }}</label>
            <small>{{ field.help }}</small>
        </div>
        <div class="col-md-6">
            <div class="form-group" ng-class="{'has-danger': modalObj.fieldErrors.length && modalObj.fieldErrors.indexOf('{{ field.name }}') !== -1}">
            {% if field.type == "date" %}
                    <label class="input-group datepicker-only-init">
                        <input type="text" class="form-control" placeholder="Sélectionnez une date" ng-model="modalObj.{{ field.name }}"/>
                        <span class="input-group-addon">
                            <i class="icmn-calendar"></i>
                        </span>
                    </label>
            {% elseif field.type == "fkey" and field.card == "short" %}
                <div custom-select="a.id as a.label for a in getSelectData('{{ field.objectModule }}{{ field.objectName }}Store',$searchTerm)" custom-select-options="{ 'async': true, 'filter':'{{ field.filter }}'}" ng-model="modalObj.{{ field.name }}" class="form-control" ng-title="modalObj.{{ field.name }}label"></div>
<!--                <div custom-select="a.id as a.label for a in {{ field.objectModule }}{{ field.objectName }}Store.getDataFilter($searchTerm)" custom-select-options="{ 'async': true }" ng-model="modalObj.{{ field.name }}" class="form-control" ng-title="modalObj.{{ field.name }}label"></div>-->
            {% elseif field.type == "boolean" %}
                <switch id="enabled" name="enabled" ng-model="modalObj.{{ field.name }}" class="green"></switch>
            {% elseif field.type == "progress" %}
                <input type="text" id="slider-{{ field.name }}" name="example_name" ng-model="modalObj.{{ field.name }}" ng-value="modalObj.{{ field.name }}"/>
                <script>
                    $("#slider-{{ field.name }}").ionRangeSlider({
                        from: 0,
                        to: 100,
                        step: 1,
                        grid: true,
                        grid_num: 10
                    });
                </script>
            {% else %}
                {% if field.query %}
                    <select class="form-control" ng-model="modalObj.{{ field.name }}" >
                        {% for v,k in field.query %}
                            <option value="{{ v }}">{{ k }}</option>
                        {% endfor %}
                    </select>
                {% elseif field.Values %}
                    <select class="form-control" ng-model="modalObj.{{ field.name }}" >
                        {% for v,k in field.Values %}
                            <option value="{{ v }}">{{ k }}</option>
                        {% endfor %}
                    </select>
                {% else %}
                    <input type="text" class="form-control" placeholder="" id="input-{{ field.name }}" ng-model="modalObj.{{ field.name }}">
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    {% elseif field.type == "fkey" and field.card == "long" %}
        <div class="row">
            <div class="col-md-12">
                <label class="form-control-label" for="l0">{{ field.description }}</label>
                <small>{{ field.help }}</small>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div>{{ include(template_from_string(module('Systeme/Utils/Select?Path='~field.objectModule~'/'~field.objectName~'&Field='~field.name))) }}</div>
            </div>
        </div>
    {% elseif field.type == "rkey" %}
    <div class="row">
        <div class="col-md-12">
            <label class="form-control-label" for="l0">{{ field.description }}</label>
            <small>{{ field.help }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div>{{ include(template_from_string(module('Systeme/Utils/Select?Path='~field.objectModule~'/'~field.objectName~'&Field='~field.name))) }}</div>
        </div>
    </div>
    {% elseif field.type == "text" or field.type == "raw" %}
    <div class="row">
        <div class="col-md-12">
            <label class="form-control-label" for="l0">{{ field.description }}</label>
            <small>{{ field.help }}</small>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        <textarea style="width:100%;min-height:300px;white-space: pre-wrap;" ng-model="modalObj.{{ field.name }}" type="text"  ng-trim="false"></textarea>
        </div>
    </div>
    {% endif %}
{% endfor %}
<script>
    $('.datepicker-only-init').datetimepicker({
        widgetPositioning: {
            horizontal: 'left'
        },
        locale: 'fr',
        icons: {
            time: "fa fa-clock-o",
            date: "fa fa-calendar",
            up: "fa fa-arrow-up",
            down: "fa fa-arrow-down"
        }
    });
</script>