
        <div class="Clinique">
                <div class="imgArticle ">
                    <img src="/{{ Image_Contenu_AccueilT2 |raw }}" class="img-responsive" alt="{{ Titre_Contenu_AccueilT2 |raw}}" title="{{ Titre_Contenu_AccueilT2|raw }}" />
                </div>
                <div class="titreArticle">
                    <h2>{{ Titre_Contenu_AccueilT2 | raw }}</h2>
                </div>
                <div class="textArticle">
                    <p class="texte"> {{ Texte_Contenu_AccueilT2 | raw }} </p>
                </div>
        </div>
