<div class="Publicite {{ CSS }} col-md-12 col-xs-12">
    <figure>
        {%  if LIEN is not empty %}<a href="{{ LIEN }}">{%  endif %} <img src="/{{ IMAGE }}" Alt="{{ TITREIMG }}" title="{{ TITREIMG }}" class="img-responsive"> {%  if LIEN is not empty %}</a>{%  endif %}
    </figure>
</div>
