<template>
    {% verbatim %}
        <div class="row" id="organisation-fiche" v-if="display">
            <h1>{{ organisation.Nom }}</h1>
            Adresse : {{ organisation.Adresse }}
             {{ organisation.CodePos }}
             {{ organisation.Ville }}
             <p>{{ organisation.Tel }}</p>
             <p>{{ organisation.Mail }}</p>
        </div>
    {% endverbatim %}
</template>

<script>
    module.exports = {
        name: 'organisation-fiche',
        data: function () {
            return {
                loaded: false,
                display: false,
                currentUrl: '',
                organisation: {Nom: 'ZOB'}
            }
        },
        methods: {
            getData: function (url) {
                var me = this;
                axios
                    .get('/Reservation/Organisation/'+url+'/getOneData.json')
                    .then(function (response) {
                        me.organisation = response.data;
                        me.loaded = true;
                        me.display = true;
                        //me.display = me.spectacle = me.spectacle.Url;
                    });
            }
        },
        watch : {
            $route: function () {
                console.log('before route watch',window.spec.organisation);
                var to = this.$route.params.url;
                if (window.spec.organisation){
                    this.organisation = window.spec.organisation;
                    this.display = true;
                }else this.display = false;

                if (!this.loaded||this.currentUrl!=to){
                    this.loaded = false;
                    this.getData(to);
                }
            }
        },
        mounted: function () {
            var url = this.$route.params.url;
            if (!this.loaded||this.currentUrl!=url){
                this.loaded = false;
                this.getData(url);
            }
        }
    }
</script>

<style>
</style>