<div class="nav-tabs-horizontal margin-bottom-20">
    <ul class="nav nav-tabs" role="tablist">
        {% for filter in filters %}
        <li class="nav-item">
            <a class="nav-link {% if loop.index0 == 0 %}active{% endif %}" ng-click="setFilter('{{ filter.filter }}')" data-toggle="tab" data-target="#h1" role="tab">{{ filter.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="form-group row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" name="{{ identifier }}query" ng-model="{{ identifier }}.filter" placeholder="Recherche..." >
            <span class="input-group-btn">
                <a href="javascript: void(0);" class="btn btn-success" ng-click="{{ identifier }}.refresh()">
                    Rafraîchir
                </a>
                <a href="javascript: void(0);" class="btn btn-warning" ng-click="{{ identifier }}add()">
                    Ajouter
                </a>
                <a href="javascript: void(0);" class="btn btn-primary" ng-click="{{ identifier }}.export()">
                    Exporter
                </a>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <dir-pagination-controls boundary-links="true" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
<table class="table table-hover nowrap margin-bottom-0" id="{{ identifier }}" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            {% for field in fields %}
                <th>{{ field.listDescr }}</th>
            {% endfor %}
            <th width="50">Détails</th>
            <th width="50">Actions</th>
        </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in {{ identifier }}.data" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.itemsPerPage" pagination-id="{{ identifier }}-pagination">
        <td><span class="label label-warning">{[{ item.id }]}</span></td>
        {% for field in fields %}
        <td class="text-nowrap" scope="row">
            {% if field.type == "price" or field.type == "float" %}
                <span class="label label-warning">{[{ item.{{ field.name }}| currency:"" }]}</span>
            {% elseif field.type == "extlink" %}
                <a class="btn btn-info btn-xs" href="https://zabbix.abtel.fr/guacamole/#/client/{[{ item.{{ field.name }} }]}" target="_blank">{{ field.listDescr }}</a>
            {% elseif field.type == "date" %}
                <span class="label label-secondary">{[{ item.{{ field.name }} | date:'dd/MM/yyyy' }]}</span>
            {% elseif field.type == "int" %}
                <span class="label label-primary">{[{ item.{{ field.name }} }]}</span>
            {% elseif field.type == "boolean" %}
                <span class="label label-success" ng-if="item.{{ field.name }}"><i class="fa fa-check"></i></span>
                <span class="label label-danger" ng-if="!item.{{ field.name }}"><i class="fa fa-times"></i></span>
            {% else %}
                {[{ item.{{ field.name }} }]}
            {% endif %}
        </td>
        {% endfor %}
        <td width="200" class="table-details" ng-bind-html="item.Details">{[{ item.Details }]}</td>
        <td width="170" style="width:170px;">
            <!-- Split button -->
            <div class="btn-group" uib-dropdown>
                <a id="split-button" type="button" class="btn btn-danger  btn-sm" href="#/{{ CurrentUrl }}/{[{ item.id }]}">détails</a>
                <button type="button" class="btn btn-danger  btn-sm" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li><a class="dropdown-item" href="javascript: void(0);" ng-click="modify(item)">Modifier</a></li>
                    <li><a class="dropdown-item" href="javascript: void(0);" ng-click="delete(item)">Supprimer</a></li>
<!--                    <li class="divider"></li>-->
                </ul>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<dir-pagination-controls boundary-links="true" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>

<div class="modal fade modal-size-large" id="modal-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{[{ modalObj.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="modalObj.errors">
                    <ul>
                        <li ng-repeat="e in modalObj.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                {{ include(template_from_string(module('Systeme/Utils/Form?Path=[!Query!]'))) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" ng-click="modalSave()">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>