{% if not headless %}
    <div class="nav-tabs-horizontal margin-bottom-20">
        <ul class="nav nav-tabs" role="tablist">
            {% for filter in filters %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.index0 == 0 %}active{% endif %}" ng-click="{{ identifier }}setOptionsFilters('{{ filter.filter }}')" data-toggle="tab" data-target="#h1" role="tab">{{ filter.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="form-group row">
        <div class="col-lg-5 col-md-12">
            <div class="input-group list-search">
                <input type="text" class="form-control" name="{{ identifier }}query" ng-model="{{ identifier }}.filter" placeholder="Recherche..." >
                <span class="input-group-btn">
                <a href="javascript: void(0);" class="btn btn-success" ng-click="{{ identifier }}.store.refresh('{{ context }}')">
                    Rafraîchir
                </a>
                    {% if operation.add %}
                        <a  href="javascript: void(0);" class="btn btn-warning" ng-click="{{ identifier }}add()">
                    Ajouter
                </a>
                    {% endif %}
                    {% if operation.export %}
                        <a href="javascript: void(0);" class="btn btn-primary" ng-click="{{ identifier }}export()">
                    Exporter
                </a>
                    {% endif %}
                    {% if operation.delete %}
                        <a  href="javascript: void(0);" ng-show="keys({{ identifier }}.selected).length > 1" class="btn btn-danger" ng-click="{{ identifier }}selectDelete()">
                Supprimer la sélection
                </a>
                    {% endif %}
                    <a  href="javascript: void(0);" class="btn btn-info" ng-click="{{ identifier }}switchPanelFilters();">
                    Filtres
                </a>
            </span>
            </div>
        </div>
        <div class="col-lg-1 col-md-12">
            <select class="form-control" ng-model="{{ identifier }}.pageLength" >
                <option ng-selected="{{ identifier }}.pageLength == 15" value="15">15</option>
                <option ng-selected="{{ identifier }}.pageLength == 25" value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>

        <div class="col-lg-2 col-md-12">
        </div>
        <div class="col-lg-4 col-md-12">
            <dir-pagination-controls boundary-links="true" pagination-context="{{ context }}" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
        </div>
    </div>

    <div class="panel-filter" ng-class="{{ identifier }}.filterPanel ? 'panel-filter-closed' : '' ">
        <div class="row">
            <div class="col-md-12">
                <h5>Requète complête: {[{ {{ identifier }}.filterQuery }]}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-6">
                {% for field in searchfields %}
                {% if field.type != "rkey" and field.type != "html" and field.type != "bbcode" and field.type != "text" and field.type != "raw" and field.card != "long" and field.type != "date" and field.type != "date" %}
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-control-label" for="l0">{{ field.description }}</label>
                            <small>{{ field.help }}</small>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group" ng-class="{'has-danger': pageObj.fieldErrors.length && pageObj.fieldErrors.indexOf('{{ field.name }}') !== -1}">
                                {% if field.type == "fkey" and field.card == "short" %}
                                    <div custom-select="a.id as a.label for a in getSelectData('{{ field.objectModule }}{{ field.objectName }}Store',$searchTerm)" custom-select-options="{ 'async': true, 'filter':'{{ field.filter }}'}"  ng-model="{{ identifier }}.filters.{{ field.name }}.value" ng-change="{{ identifier }}applyFilters()" class="form-control form-control-sm"></div>
                                {% elseif field.type == "boolean" %}
                                    <switch id="enabled" name="enabled" ng-model="{{ identifier }}.filters.{{ field.name }}.value" class="green" ng-change="{{ identifier }}applyFilters()"></switch>
                                {% else %}
                                    {% if field.query %}
                                        <select class="form-control form-control-sm" ng-model="{{ identifier }}.filters.{{ field.name }}.value" ng-change="{{ identifier }}applyFilters()">
                                            {% for v,k in field.query %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    {% elseif field.Values %}
                                        <select class="form-control form-control-sm"  ng-model="{{ identifier }}.filters.{{ field.name }}.value" ng-change="{{ identifier }}applyFilters()">
                                            {% for v,k in field.Values %}
                                                <option value="{{ v }}">{{ k }}</option>
                                            {% endfor %}
                                        </select>
                                    {% else %}
                                        <input type="text" class="form-control form-control-sm" placeholder=""  ng-model="{{ identifier }}.filters.{{ field.name }}.value" ng-change="{{ identifier }}applyFilters()">
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if loop.index - loop.revindex0 == 1 or loop.index - loop.revindex0 == 0 %}
            </div>
            <div class="col-md-12 col-lg-6">
                {% endif %}
                {% endfor %}
            </div>
            <script>
                $('.datepicker-only-init').datetimepicker({
                    widgetPositioning: {
                        horizontal: 'left'
                    },
                    locale: 'fr',
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down"
                    }
                });
            </script>
        </div>
        <div class=" row">
            <div class="col-md-10">
                <a href="javascript: void(0);" class="btn btn-info " ng-click="{{ identifier }}applyFilters()">
                    Appliquer les filtres
                </a>
                <a href="javascript: void(0);" class="btn btn-warning " ng-click="{{ identifier }}resetFilters()">
                    Réinitialiser les filtres
                </a>
            </div>
        </div>
    </div>
{% endif %}
<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%">
    <thead>
    <tr>
        <th width="30" title="Ch" class="list-col-th-dark">
            <input type="checkbox" ng-model="{{ identifier }}.selected.selectall"/>&nbsp;
        </th>
        <th title="Id" class="list-col-th-id">ID</th>
        {% for field in fields %}
            <th title="{{ field.name }}">{{ field.listDescr }}</th>
        {% endfor %}
        {% for interface in Interfaces %}
            <th>{{ interface.name }}</th>
        {% endfor %}
        <th width="220">Détails</th>
        <th width="170">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination">
        <td  class="list-col-td-dark">
            <input type="checkbox" value="{[{ item.id }]}" ng-model="{{ identifier }}.selected[item.id]" name="{{ identifier }}" id="{[{ item.id }]}" />&nbsp;
        </td>
        <td class="list-col-td-id">
            <!--<span class="label label-warning">{[{ item.id }]}</span>-->
            {[{ item.id }]}
        </td>
        {% for field in fields %}
            <td scope="row" class="type{{ field.type }}">
                {% if field.type == "price" or field.type == "float" %}
                    <span class="label label-warning">{[{ item.{{ field.name }}| currency:"" }]}</span>
                {% elseif field.type == "image" %}
                    <img class="img-responsive" src="{[{ item.{{ field.name }} }]}.limit.250x40.jpg" {{ field.listDescr }} ng-if="item.{{ field.name }} "/>
                    <img class="img-responsive" src="/Tools/Images/NoPhoto.jpg.limit.250x40.jpg" {{ field.listDescr }} ng-if="!item.{{ field.name }} "/>
                {% elseif field.type == "extlink" %}
                    <a class="btn btn-info btn-xs" href="/{{ Module }}/{{ ObjectType }}/{[{ item.id }]}/callback{{ field.name }}.htm" target="_blank">{{ field.listDescr }}</a>
                {% elseif field.type == "date" %}
                    <span class="label label-secondary">{[{ item.{{ field.name }} | date:'dd/MM/yyyy' }]}</span>
                {% elseif field.type == "int" %}
                    <span class="label label-primary">{[{ item.{{ field.name }} }]}</span>
                {% elseif field.type == "fkey" and field.card == "short" %}
                    <a class="btn btn-secondary btn-xs" href="#{{ field.link }}/{[{ item.{{ field.objectName }}{{ field.name }} }]}" ng-if="item.{{ field.objectName }}{{ field.name }}">{[{ item.{{ field.objectName }}{{ field.name }}label }]}</a>
                    <span ng-if="!item.{{ field.objectName }}{{ field.name }}"> - </span>
                {% elseif field.type == "progress" %}
                    <!--<progress class="progress progress-danger progress-striped progress-animated" ng-if="item.{{ field.name }} < 100" value="{[{ item.{{ field.name }} }]}" max="100">{[{ item.{{ field.name }} }]}</progress>
                <progress class="progress progress-success progress-striped progress-animated" ng-if="item.{{ field.name }} == 100" value="{[{ item.{{ field.name }} }]}" max="100">{[{ item.{{ field.name }} }]}</progress>-->
                    <uib-progress ng-if="item.{{ field.name }} < 100">
                        <uib-bar value="item.{{ field.name }}" type="warning" class=" progress-bar-striped progress-bar-animated"><span ng-hide="item.{{ field.name }} < 5">{[{ item.{{ field.name }} }]}%</span></uib-bar>
                    </uib-progress>
                    <uib-progress ng-if="item.{{ field.name }} >= 100">
                        <uib-bar value="item.{{ field.name }}" type="success" class=" progress-bar-striped progress-bar-animated"><span ng-hide="item.{{ field.name }} < 5">{[{ item.{{ field.name }} }]}%</span></uib-bar>
                    </uib-progress>

                {% elseif field.type == "boolean" %}
                    {% if field.special == "reverse" %}
                        <span class="label label-success" ng-if="!item.{{ field.name }}"><i class="fa fa-check"></i></span>
                        <span class="label label-danger" ng-if="item.{{ field.name }}"><i class="fa fa-times"></i></span>
                    {% else %}
                        <span class="label label-success" ng-if="item.{{ field.name }}"><i class="fa fa-check"></i></span>
                        <span class="label label-danger" ng-if="!item.{{ field.name }}"><i class="fa fa-times"></i></span>
                    {% endif %}
                {% elseif field.type == "text" %}
                    <span ng-bind-html="item.{{ field.name }} | nl2br"></span>
                {% elseif field.Values | length > 0 %}
                    <span ng-bind-html="item.{{ field.name }}Label "></span>
                {% elseif field.type == "color" %}
                    <span class="colorBlock" style="background-color: {[{ item.{{ field.name }} }]}"></span>
                {% else %}
                    {% if field.name == "Url" %}
                        <a href="{[{ item.{{ field.name }} }]}" target="_blank" ng-bind-html="item.{{ field.name }}"></a>
                    {% elseif  Type == "Tail" %}
                        <span ng-bind-html="item.{{ field.name }}"></span>
                    {% else %}
                        <a href="#/{{ CurrentUrl }}/{[{ item.id }]}" ng-bind-html="item.{{ field.name }}"></a>
                    {% endif %}
                {% endif %}
            </td>
        {% endfor %}
        {% for interface in Interfaces %}
            {% if interface.child  %}
                <td scope="row" class="type{{ interface.type }}">
                    {% if interface.type == "price" or interface.type == "float" %}
                        <span class="label label-warning" ng-repeat="child in item.{{ interface.child }}">{[{ child.{{ interface.property }}| currency:"" }]}</span>
                    {% elseif interface.type == "extlink" %}
                        <a class="btn btn-info btn-xs type_{[{ child.{{ interface.title }} }]}" href="https://proxy.abtel.fr/remote/#/client/{[{ child.{{ interface.property }} }]}" target="_blank" ng-repeat="child in item.{{ interface.child }} | limitTo:2">{[{ child.{{ interface.title }} }]}</a>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
        <td  class="table-details" ng-bind-html="item._details">{[{ item._details }]}</td>
        <td  class="table-action">
            {% if Type == "Tail" %}
                <span class="input-group-btn">
                    {% if operation.edit %}<a  class="btn btn-warning" href="javascript: void(0);" ng-click="{{ identifier }}modify(item)">Modifier</a>{% endif %}
                    {% if operation.delete %}<a  class="btn btn-danger" href="javascript: void(0);" ng-click="{{ identifier }}delete(item)">Supprimer</a>{% endif %}
                    {% for fu in functions %}{{ fu.Nom }}
                        {% if attribute(operation,fu.Nom) %}
                            <a  class="btn btn-primary"  href="javascript: void(0);" ng-click='{{ identifier }}callFunction(item,"{{fu.Nom}}","{{fu.title}}")'>{{ fu.title }}</a>
                        {% endif %}
                    {% endfor %}
                </span>
            {% else %}
                <!-- Split button -->
                <div class="btn-group" uib-dropdown>
                    <a id="split-button" type="button" class="btn btn-danger  btn-sm" href="#/{{ CurrentUrl }}/{[{ item.id }]}">Détails</a>
                    <button type="button" class="btn btn-danger btn-sm " uib-dropdown-toggle>
                        <span class="caret"></span>
                        <span class="sr-only">Split button!</span>
                    </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                        {% if operation.edit %}<li ><a class="dropdown-item" href="javascript: void(0);" ng-click="{{ identifier }}modify(item)">Modifier</a></li>{% endif %}
                        {% if operation.delete %}<li ><a class="dropdown-item" href="javascript: void(0);" ng-click="{{ identifier }}delete(item)">Supprimer</a></li>{% endif %}
                        <li class="divider"></li>
                        {% for fu in functions %}
                            <li ><a class="dropdown-item" href="javascript: void(0);" ng-click='{{ identifier }}callFunction(item,"{{fu.Nom}}","{{fu.title}}")'>{{ fu.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </td>
    </tr>
    </tbody>
</table>
<!--
<div class="invert-wrap">
    <table class="table table-hover nowrap margin-bottom-0 inverted" id="{{ identifier }}" width="100%">
    {#<colgroup>
        <col class="thead">
        <col dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination" class="tdcontent">
    </colgroup>#}
    <tbody>
        <tr>
            <th ng-show="{{ identifier }}.data.length > 0">ID</th><td dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination"><div class="col-width-fixer"><span class="label label-warning">{[{ item.id }]}</span></div></td>
        </tr>
        <tr>
            <th  ng-show="{{ identifier }}.data.length > 0" width="50">Actions</th>
            <td dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination">
                <div class="col-width-fixer">
                    {% if Type == "Tail" %}
                        <span class="input-group-btn">
                        {% if operation.edit %}<a  class="btn btn-warning" href="javascript: void(0);" ng-click="{{ identifier }}modify(item)">Modifier</a>{% endif %}
                        {% if operation.delete %}<a  class="btn btn-danger" href="javascript: void(0);" ng-click="{{ identifier }}delete(item)">Supprimer</a>{% endif %}
                        {% for fu in functions %}
                            {% if attribute(operation,fu.Nom) %}
                                <a  class="btn btn-primary" href="javascript: void(0);" ng-click='{{ identifier }}callFunction(item,"{{fu.Nom}}","{{fu.title}}")'>{{ fu.title }}</a>
                            {% endif %}
                        {% endfor %}
                        </span>
                    {% else %}
                        <div class="btn-group" uib-dropdown>
                            <a id="split-button" type="button" class="btn btn-danger  btn-sm" href="#/{{ CurrentUrl }}/{[{ item.id }]}">détails</a>
                            <button type="button" class="btn btn-danger  btn-sm" uib-dropdown-toggle>
                                <span class="caret"></span>
                                <span class="sr-only">Split button!</span>
                            </button>
                            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                {% if operation.edit %}<li ><a class="dropdown-item" href="javascript: void(0);" ng-click="{{ identifier }}modify(item)">Modifier</a></li>{% endif %}
                                {% if operation.delete %}<li ><a class="dropdown-item" href="javascript: void(0);" ng-click="{{ identifier }}delete(item)">Supprimer</a></li>{% endif %}
                                <li class="divider"></li>
                                {% for fu in functions %}
                                    <li ><a class="dropdown-item" href="javascript: void(0);" ng-click='{{ identifier }}callFunction(item,"{{fu.Nom}}","{{fu.title}}")'>{{ fu.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </td>
        </tr>
            {% for field in fields %}
                <tr>
                    <th  ng-show="{{ identifier }}.data.length > 0">{{ field.listDescr }}</th>
                    <td dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination" scope="row">
                        <div class="col-width-fixer">
                        {% if field.type == "price" or field.type == "float" %}
                            <span class="label label-warning">{[{ item.{{ field.name }}| currency:"" }]}</span>
                        {% elseif field.type == "extlink" %}
                            <a class="btn btn-info btn-xs" href="https://zabbix.abtel.fr/guacamole/#/client/{[{ item.{{ field.name }} }]}" target="_blank">{{ field.listDescr }}</a>
                        {% elseif field.type == "date" %}
                            <span class="label label-secondary">{[{ item.{{ field.name }} | date:'dd/MM/yyyy' }]}</span>
                        {% elseif field.type == "int" %}
                            <span class="label label-primary">{[{ item.{{ field.name }} }]}</span>
                        {% elseif field.type == "boolean" %}
                            <span class="label label-success" ng-if="item.{{ field.name }}"><i class="fa fa-check"></i></span>
                            <span class="label label-danger" ng-if="!item.{{ field.name }}"><i class="fa fa-times"></i></span>
                        {% elseif field.type == "text" %}
                            <span ng-bind-html="item.{{ field.name }} | nl2br"></span>
                        {% elseif field.Values | length > 0 %}
                            <span ng-bind-html="item.{{ field.name }}Label "></span>
                        {% else %}
                            <span ng-bind-html="item.{{ field.name }}"></span>
                        {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        <tr>
            <th width="50"  ng-show="{{ identifier }}.data.length > 0">Détails</th><td dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination" class="table-details" ng-bind-html="item.Details"><div class="col-width-fixer">{[{ item.Details }]}</div></td>
        </tr>
    </tbody>
    </table>
    <script type="text/javascript">
        $(document).ready(function(){
            var ok = 0;
            var tmp = 0;
            var interval = setInterval(function(){
                tmp++;
                ok++;
                $('.inverted th').each(function(){
                    var h = $(this).parent('tr').height();
                    if($(this).css('height') != h+'px') {
                        ok =0;
                        $(this).css('height', h);
                    }
                });
                if(ok >= 20 || tmp >= 100) clearInterval(interval);
            },25);

        });

    </script>
</div>
-->
<div class="form-group row">
    <div class="col-lg-6 col-md-12">
    </div>
    <div class="col-lg-6 col-md-12">
        <dir-pagination-controls boundary-links="true" pagination-context="{{ context }}" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>

<div class="modal fade modal-size-large" id="modal-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{[{ pageObj.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="pageObj.errors.length">
                    <ul>
                        <li ng-repeat="e in pageObj.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="pageObj.warning.length">
                    <ul>
                        <li ng-repeat="e in pageObj.warning">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-success" ng-if="pageObj.infos.length">
                    <ul>
                        <li ng-repeat="e in pageObj.infos">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div ng-if="pageObj.success == false">
                    {{ include(template_from_string(module('Systeme/Utils/Form?Path=Systeme/Page&scopeObj=pageObj'))) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" ng-if="pageObj.success == true">Fermer</button>
                <button type="button" class="btn" data-dismiss="modal" ng-if="pageObj.success == false">Annuler</button>
                <button type="button" class="btn btn-primary" ng-click="{{ identifier }}modalSave()" ng-if="pageObj.success == false">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-size-large" id="modalfunction-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{ function.title }]}</h4>
            </div>
            <div class="modal-body">
                <div id="ajaxwrapper"
                     ng-show="{{ identifier }}function.loaded"
                     ng-include="{{ identifier }}function.url" onload="{{ identifier }}function.loaded = true">
                </div>

                <div class="text-center"
                     ng-hide="{{ identifier }}function.loaded">
                    <br />
                    Chargement ...
                    <br />
                    <div class="spinload"></div>
                </div>

                <!--<ng-include src="function.url"></ng-include>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>