<div class="container">
    <div class="row" id="news">
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc?CODE=HOME_NEWS_1'))) }}
        </div>
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc?CODE=HOME_NEWS_2'))) }}
        </div>
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc?CODE=HOME_NEWS_3'))) }}
        </div>
    </div>
    <div class="row" id="liens">
        <div class="col-lg-6">
            {{ include(template_from_string(module('Systeme/Bloc?CODE=HOME_BOTTOM_LEFT'))) }}
        </div>
        <div class="col-lg-6 ">
            {{ include(template_from_string(module('Systeme/Bloc?CODE=HOME_BOTTOM_RIGHT'))) }}
        </div>
    </div>
    <div class="row" id="partenaires">
        <ul class="partner">
        {% for p in partners %}
            <li><a href="{{ p.Lien }}" title="{{ p.Nom }}"><img src="/{{ p.Image }}.limit.200x50.jpg" title="{{ p.Nom }}"/></a></li>
        {% endfor %}
        </ul>
    </div>
    <div class="row" id="footerlinks">
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc/Bottom?CODE=FOOTER_LEFT'))) }}
        </div>
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc/Bottom?CODE=FOOTER_MIDDLE'))) }}
        </div>
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc/Bottom?CODE=FOOTER_RIGHT'))) }}
        </div>
    </div>
    <div>
        <input type="text" class="form-control input-dark inputNewsletter" style="margin: 0 2px;"/>
        <a href="#facebooklink" class="facebooklink"><i class="fab fa-facebook-square fa-4x" style="color: #000;"></i></a>
    </div>
    <div class="row" id="footerlinksder">
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc/Bottom?CODE=FOOTERDER_LEFT'))) }}
        </div>
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc/Bottom?CODE=FOOTERDER_MIDDLE'))) }}
        </div>
        <div class="col-lg-4">
            {{ include(template_from_string(module('Systeme/Bloc/Bottom?CODE=FOOTERDER_RIGHT'))) }}
        </div>
    </div>

</div>