<div class="row Articles ">
    <div class="col-lg-10 col-md-10 col-sm-10">
        <div class="boutonretour">
            <a href="/{{  Retour }}">Retour </a>
        </div>
        <div class="imgArticle">
            <img src="/{{ UnService.Media.Image }}" class="img-responsive" alt="{{ UnService.Media.Titre }}" title="{{ UnService.Media.Titre }}" />
        </div>
        <div class="titreImage">
            <p class="legende">{{ UnService.Media.Legende }}</p>
        </div>
        <div class="titreArticle">
            <h2>{{ UnService.Titre}}</h2>
        </div>
        <div class="textArticle">
            <p class="texte">{{ UnService.Description | raw  }}
            </p>
        </div>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
{#        vide conforme à la maquette#}
    </div>
</div>
