{# fiche ClasseDate #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean,fkey %} 
{% set f=fields %}
{% set o='modalObj' %}
<div class="page-content-inner">
    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-body cadref-panel-body">
            <div class="row no-gutters">
                <div class="col-md-10">
					<div class="row">
						<div class="col-md-8" >
							<div class="row">
								<div class="col-md-2">
									{{ label("Classe") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.ClasseId, o) }}
										</div>
										<div class="col-md-10">
											<div class="control-group">
												<p class="form-control">{[{ obj.LibelleD+' '+obj.LibelleN }]}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Date du cours") }}
								</div>
								<div class="col-md-3">
									{{ fdate(f.DateCours, o) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Notes") }}
								</div>
								<div class="col-md-10">
									{{ finput(f.Notes, o) }}
								</div>
							</div>
						</div>
						{# block right #}                    
						<div class="col-md-4">
						</div>
					</div>
				</div>
				<div {% if Create %}class="col-md-2"{% else %}class="col-md-1"{% endif %}>
					<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-click="{{ identifier }}modalSave()">Sauver</button>
					<button type="button" class="btn btn-danger margin-inline cadref-btn-100" ng-if="{{ o }}.id" ng-click="classeDateDelete(modalObj)">Supprimer</button>
					<a type="button" class="btn btn-warning margin-inline cadref-btn-100" {% if Create %}data-dismiss="modal"{% else %}href="#/{{ CurrentMenu.Url }}"{% endif %}>Annuler</a>
				</div>
			</div>
		</div>
	</section>
</div>

<script>
	$('.datepicker-only-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		format: 'DD/MM/YYYY',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});
	$('.timepicker-only-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		format: 'HH:mm',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});
	$('.datetimepicker-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});


	$('.urlInput').on('keyup', function () {
		$(this).val($(this).val().replace(/[^A-Za-z0-9_\-\.]*\s*/g, ''));
	});
	//Tweak moche a voir si on peut pas faire plus propre depuis le controller :x
	$(".datepicker-only-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
	$(".timepicker-only-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
	$(".datetimepicker-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
</script>
