{# fiche ClasseDate #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean,fkey %} 
{% set f=fields %}
{% set o='localObj' %}
<div class="page-content-inner">
    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-body cadref-panel-body">
            <div class="row no-gutters">
                <div class="col-md-10">
					<div class="row">
						<div class="col-md-8" >
							<div class="row">
								<div class="col-md-2">
									{{ label("Classe") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.ClasseId, o) }}
										</div>
										<div class="col-md-10">
											<div class="control-group">
												<p class="form-control">{[{ obj.LibelleD+' '+obj.LibelleN }]}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Date du cours") }}
								</div>
								<div class="col-md-3">
									{{ fdate(f.DateCours, o) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Notes") }}
								</div>
								<div class="col-md-10">
									{{ finput(f.Notes, o) }}
								</div>
							</div>
						</div>
						{# block right #}                    
						<div class="col-md-4">
						</div>
					</div>
				</div>
				<div class="col-md-2">
					<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-click="classeDateSave()">Sauver</button>
					<button type="button" class="btn btn-danger margin-inline cadref-btn-100" ng-if="{{ o }}.id" ng-click="classeDateDelete({{ o }})">Supprimer</button>
					<a type="button" class="btn btn-warning margin-inline cadref-btn-100" data-dismiss="modal">Annuler</a>
				</div>
			</div>
		</div>
	</section>
</div>

