 <div class="Clinique">

      <div class="imgArticle ">
          <img src="/{{ Image_Urgence }}" class="img-responsive" alt="{{ Titre_image_Urgence |raw }}" title="{{ Titre_image_Urgence |raw }}" />
      </div>
      <div class="titreImage">
          <p class="legende">{{ Titre_image_Urgence |raw  }}</p>
      </div>
      {#        <div class="titreArticle">#}
      {#            <h2>La Clinique</h2>#}
      {#        </div>#}
      <div class="textArticle">
          <p class="texte"> {{ Description_Urgence | raw }}
          </p>
      </div>

  </div>
