<div class="boxnum">
	<div class="row numWrap">
		<div class="col-md-2 text-left"><img src="/{{ LOGOTEL }}" class="logoContact"></div>
		<div class="col-md-8">{{ Adherent.Tel }}</div>
		<div class="col-md-2 text-right"><img src="/{{ LOGOTEL }}" class="logoContact"></div>
	</div>
</div>

</br>

<iframe class="contactMaps" height="200" width="100%" style="border:0"  src="https://www.google.com/maps/embed/v1/place?q={{ Adresse }}&key=AIzaSyA8WzSVq6D0wZFAsNwdsqSExgHlNO3_S68" allowfullscreen style="width: 100%;"></iframe>

{% if (Adherent.LienFacebook is not empty) or (Adherent.LienInstagram is not empty)  %}
		<div class="boxnum">
			Suivez nous sur {%  if (Adherent.LienFacebook is not empty) and (Adherent.LienInstagram is empty) %}
								<a href="{{ Adherent.LienFacebook }}" target="_blank">Facebook</a>
							{%  endif %}
							{%  if (Adherent.LienInstagram is not empty) and (Adherent.LienFacebook is empty) %}
								<a href="{{ Adherent.LienInstagram }}"target="_blank">Instagram</a>
							{% endif %}
							{% if (Adherent.LienFacebook is not empty) and (Adherent.LienInstagram is not empty) %}
								<a href="{{ Adherent.LienFacebook }}" target="_blank">Facebook</a>, <a href="{{ Adherent.LienInstagram }}"target="_blank">Instagram</a>
							{% endif %}
		</div>
{% endif %}

