<nav class="left-menu cadref-menu" left-menu ng-class="{'hidden-left-menu': hideLeftMenu}">
    <div class="logo-container" {% if group.Couleur %}style="background-color:{{ group.Couleur }} !important;"{% endif %}>
        <a href="#/TableauDeBord" class="logo">
			{% if group.ArrierePlan %}
            <img class="logo-inverse logo-centre" src="{{ group.ArrierePlan }}" alt="{{ group.Commentaire }}" />
			{% else %}
            <img class="logo-inverse logo-centre" src="Skins/AngularAdmin/img/logo.png" alt="Abtel informatique" />
			{% endif %}
        </a>
    </div>
    <div class="left-menu-inner scroll-pane">
        <ul class="left-menu-list left-menu-list-root list-unstyled">
{#            <li class="left-menu-list-submenu">#}
            {%  for m in menus %}
                {% if m.getSubMenus()|length > 0 %}
                    <li class="left-menu-list-submenu">
                        <a class="left-menu-link" href="javascript: void(0);">
                            <i class="left-menu-link-icon {% if m.ClassCss %}{{ m.ClassCss }}{% else %}icmn-files-empty2{% endif %}"><!-- --></i>
                            <span>{{ m.Titre }}</span>
                        </a>
                        <ul class="left-menu-list list-unstyled">
							<li class="submenu-title">
								{{ m.Titre }}
							</li>
                            {% for m2 in m.getSubMenus() %}
                                {% if m2.Affiche %}
                                <li>
                                    <a class="left-menu-link" href="#/{{ m.Url }}/{{ m2.Url }}">
                                        {{ m2.Titre }}
                                    </a>
                                </li>
                                {% endif %}
                            {%  endfor %}
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a class="left-menu-link" href="#/{{ m.Url }}">
                            <i class="left-menu-link-icon {% if m.ClassCss %}{{ m.ClassCss }}{% else %}icmn-home2{% endif %}" {% if(menuIcon) %}title="{{ m.Titre }}"{% endif %}><!-- --></i>
                            <span class="menu-top-hidden">{{ m.Titre }}</span>
                        </a>
                    </li>
                {% endif %}
            {%  endfor %}
            {% if user.Admin %}
                <li class="left-menu-list-separator"></li>
                {%  for mod in modules %}
                <li class="left-menu-list-submenu">
                    <a class="left-menu-link" href="javascript: void(0);">
                        <i class="left-menu-link-icon icmn-files-empty2"><!-- --></i>
                        {{ mod.Description }}
                    </a>
                    <ul class="left-menu-list list-unstyled">
                        {% for obj in mod.getObjectClass() %}
                        <li>
                            <a class="left-menu-link" href="#/{{ mod.Nom }}/{{ obj.titre }}">
                                {{ obj.description }}
                            </a>
                        </li>
                        {%  endfor %}
                    </ul>
                </li>
                {%  endfor %}
            {% endif %}
        </ul>
    </div>
</nav>