

<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}">
    <div class="menu-icon-container hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
            <div><!-- --></div>
        </div>
    </div>
    <div class="menu">
        <div class="menu-user-block">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="avatar" href="javascript:void(0);">
                        <img src="{{ User.Avatar }}" alt="Alternative text to the image">
                    </span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <a class="dropdown-item" href="#/Profile"><i class="dropdown-icon icmn-user"></i> Profil</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Systeme/Deconnexion"><i class="dropdown-icon icmn-exit"></i> Déconnexion</a>
                </ul>
            </div>
        </div>
        <div class="menu-user-block menu-notifications">
            <div class="dropdown dropdown-avatar">
                <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="menu-notification-icon icmn-bubbles7"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                    <div class="notification-block">
                        <div class="item">
                            <i class="notification-icon icmn-star-full"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">now</span>
                                    <a href="javascript: void(0);">Update Status: <span class="label label-danger font-weight-700">New</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-stack3"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">24 min ago</span>
                                    <a href="javascript: void(0);">Income: <span class="label label-default font-weight-700">$299.00</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-bubbles5"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">30 min ago</span>
                                    <a href="javascript: void(0);">Inbox Message</a>
                                </div>
                                <div class="descr">
                                    From: <a href="javascript: void(0);">David Bowie</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-pie-chart2"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">now</span>
                                    <a href="javascript: void(0);">Update Status: <span class="label label-primary font-weight-700">New</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-books"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">24 min ago</span>
                                    <a href="javascript: void(0);">Income: <span class="label label-warning font-weight-700">$299.00</span></a>
                                </div>
                                <div class="descr">
                                    Failed to get available update data. To ensure the proper functioning of your application, update now.
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <i class="notification-icon icmn-cog util-spin-delayed-pseudo"></i>
                            <div class="inner">
                                <div class="title">
                                    <span class="pull-right">30 min ago</span>
                                    <a href="javascript: void(0);">Inbox Message</a>
                                </div>
                                <div class="descr">
                                    From: <a href="javascript: void(0);">David Bowie</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="menu-info-block">
            <div class="left">
                {% if User.isRole('BACKUP_ADMIN') %}
                    {{ include(template_from_string(module('Systeme/Widget/BackupAdminMenuTop'))) }}
                {% endif %}
            </div>
            <div class="right hidden-lg-down margin-left-20">
                <!--<div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Recherche...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>-->
                {#<h5 style="line-height:2em;">Bienvenue sur l'espace client  {{ displayName }}</h5>#}
                <h5 style="line-height:2em;">Bienvenue sur l'espace {{ RoleSpace }} {{ User.Nom }} {{ User.Prenom }} </h5>
            </div>
        </div>
    </div>
</nav>