

<nav class="top-menu" ng-class="{'hidden-top-menu': hideTopMenu}" ng-controller="MenuTopCtrl">
    <div class="menu-icon-container hidden-md-up">
        <div class="animate-menu-button left-menu-toggle">
            <div><!-- --></div>
        </div>
    </div>
    <script type="text/javascript" src="/Systeme/Menu/MenuTopController.json"></script>
    <div class="menu">
        <div class="menu-user-block">
            {% if User.isRole('PARC_CONTACT') and not User.Admin %}
                <div class="header-container">
                    <span class="avatar_wrap"><img src="{{ User.Avatar }}" class="avatar" alt="Alternative text to the image"></span>
                    <a class="btn btn-warning" href="/Systeme/Deconnexion"><i class="dropdown-icon icmn-exit"></i> Déconnexion</a>
                </div>
            {% else %}
				<div class="dropdown dropdown-avatar">
					<a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
						<span class="avatar" href="javascript:void(0);">
							<img src="{{ User.Avatar }}" alt="Alternative text to the image">
						</span>
					</a>
					<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
						<!-- <a class="dropdown-item" href="#/Profile"><i class="dropdown-icon icmn-user"></i> Profil</a>
						 <div class="dropdown-divider"></div>-->
						<a class="dropdown-item" href="/Systeme/Deconnexion"><i class="dropdown-icon icmn-exit"></i> Déconnexion</a>
					</ul>
				</div>
            {% endif %}
        </div>
        {% if User.hasRole('PARC_TECHNICIEN') or User.hasRole('NOTIFICATIONS') %}
            <div class="menu-user-block menu-notifications">
                <div class="dropdown dropdown-avatar">
                    <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="menu-notification-icon icmn-bubbles7" ng-class="{'filter-danger':Alerts.new>0,'filter-info':Alerts.new==0 && Alerts.unread>0,'filter-default':Alerts.new==0 && Alerts.unread==0}" ng-click="alertUserDisplay()"></i>
                    </a>
                    <ul id="dropdown-alert-auto" class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                        <div class="notification-block" ng-if="SystemeAlertUser.data.length">
                            <div class="item">
                                <a href="javascript: void(0);" class="notification-clear" title="Tout supprimer" ng-click="alertUserReadAll($event)" style="    padding-left: 50px;    display: inline-block;    width: 100%;"><span class="notification-button"></span>Tout supprimer</a>
                            </div>
                            <div class="item" style="min-height:70px" ng-repeat="item in SystemeAlertUser.data">
								<i class="notification-icon {[{ item.Icon }]}"></i>
								<a href="javascript: void(0);" class="notification-button" title="Supprimer" ng-click="alertUserRead($event, item)"></a>
                                <div class="inner" ng-click="goToAlert($event,item);">
                                    <div class="time">
                                        <span class="pull-right">{[{ item.create.substr(0, 5)+' '+item.create.substr(11, 5) }]}</span>
                                    </div>
                                    <div class="title" style="margin-top:5px">
                                        <strong>{[{ item.Title }]}</strong>
                                    </div>
                                    <div class="descr" ng-bind-html="item.Tag"></div>
                                </div>
                            </div>
                        </div>
                        <div class="notification-block" ng-if="SystemeAlertUser.data.length==0">
                            <div class="notification-block">
                                <div class="noItem">
                                    <i class="notification-empty icmn-cool"></i><span style="padding-left: 30px;">Il n'y a pas de notifications</span>
                                </div>
                            </div>
						</div>
                    </ul>
                </div>
            </div>
        {% endif %}
        <div class="menu-info-block">
            <div class="left">
                {#{% if User.isRole('BACKUP_ADMIN') %}
                    {{ include(template_from_string(module('Systeme/Widget/BackupAdminMenuTop'))) }}
                {% endif %}#}
            </div>
            <div class="right hidden-lg-down margin-left-20">
                <!--<div class="search-block">
                    <div class="form-input-icon form-input-icon-right">
                        <i class="icmn-search"></i>
                        <input type="text" class="form-control form-control-sm form-control-rounded" placeholder="Recherche...">
                        <button type="submit" class="search-block-submit "></button>
                    </div>
                </div>-->
                {#<h5 style="line-height:2em;">Bienvenue sur l'espace client  {{ displayName }}</h5>#}
                <h5 style="line-height:2em;">Bienvenue sur l'espace {{ RoleSpace }} {{ User.Nom }} {{ User.Prenom }} {{ GroupName }} </h5>
            </div>
        </div>
    </div>
</nav>

