<div class="modal fade modal-size-large" id="modalfunction-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true"  data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{ {{ identifier }}function.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="{{ identifier }}function.errors.length > 0">
                    <ul>
                        <li ng-repeat="e in {{ identifier }}function.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="{{ identifier }}function.warning.length > 0">
                    <ul>
                        <li ng-repeat="e in f{{ identifier }}function.warning">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-success" ng-if="{{ identifier }}function.infos.length > 0">
                    <ul>
                        <li ng-repeat="e in {{ identifier }}function.infos">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="text-center"
                     ng-hide="{{ identifier }}function.loaded">
                    <br />
                    Chargement ...
                    <br />
                    <div class="spinload"></div>
                </div>
                <div id="ajaxwrapperFunc"
                     ng-show="{{ identifier }}function.loaded"
                     compile="{{ identifier }}function.data" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" ng-if="!{{ identifier }}function.callNext">Fermer</button>
                <button type="button" class="btn" ng-if="{{ identifier }}function.callNext" ng-click="{{ identifier }}callFunction({{ identifier }}function.callNext.item,{{ identifier }}function.callNext.nom,{{ identifier }}function.callNext.title,{{ identifier }}function.callNext.needConfirm,1)">Suivant</button>
            </div>
        </div>
    </div>
</div>