
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading">
            <h3>Mes minisites</h3>
        </div>
        <div ng-if="!cliId">
            <p class="minisite_error error_cli">
                Désolé, nous n'avons pas trouvé de client associé à votre utilisateur.
            </p>
        </div>
        <div class="panel" ng-if="cliId != 0">
            <div >
                <dir-pagination-controls boundary-links="true" pagination-context="MiniSite" pagination-id="ParcInstance-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
            <table class="table table-hover nowrap margin-bottom-0 straight" id="ParcInstance" width="100%">
                <thead>
                <tr>
                    <th width="120" title="Id">
                        Domaine
                    </th>
                    <th width="50">Titre</th>
                    <th width="50">Couleur 1</th>
                    <th width="50">Couleur 2</th>
                    <th width="50">Image</th>
                    <th width="50">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr dir-paginate="item in ParcInstance.data" pagination-context="MiniSite" current-page="ParcInstance.currentPage" items-per-page="ParcInstance.itemsPerPage" pagination-id="ParcInstance-pagination">
                    <td>
                        {#<a href="" ng-if="">{[{ item.Url }]}</a>#}
                        <a href="" >{[{ item.Nom }]}</a>
                    </td>
                    <td>{[{ item.Titre }]}</td>
                    <td><span class="color_display" style="background-color: {[{ item.Couleur1 }]};"></span></td>
                    <td><span class="color_display" style="background-color: {[{ item.Couleur2 }]};"></span></td>
                    <td><span class="img_display" style="background-image: url('{[{ item.Image }]}');"></span></td>
                    <td><a class="btn btn-warning" href="javascript: void(0);" ng-click="ParcInstanceModify(item)">Modifier</a></td>
                </tr>
                </tbody>
            </table>
            <div>
                <dir-pagination-controls boundary-links="true" pagination-context="MiniSite" pagination-id="ParcInstance-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
            </div>
        </div>
    </section>

</div>

<div class="modal fade modal-size-large" id="modal-ParcInstance" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{[{ modalObj.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="modalObj.errors.length">
                    <ul>
                        <li ng-repeat="e in modalObj.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="modalObj.warning.length">
                    <ul>
                        <li ng-repeat="e in modalObj.warning">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-success" ng-if="modalObj.infos.length">
                    <ul>
                        <li ng-repeat="e in modalObj.infos">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div ng-if="modalObj.success == false">
                    {{ include(template_from_string(module('Systeme/Utils/Form?Path='~Path))) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" ng-if="modalObj.success == true">Fermer</button>
                <button type="button" class="btn" data-dismiss="modal" ng-if="modalObj.success == false">Annuler</button>
                <button type="button" class="btn btn-primary" ng-click="ParcInstanceModalSave()" ng-if="modalObj.success == false">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
{#
<div class="modal fade modal-size-large" id="modalfunction-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{ function.title }]}</h4>
            </div>
            <div class="modal-body">
                <div id="ajaxwrapper"
                     ng-show="{{ identifier }}function.loaded"
                     ng-include="{{ identifier }}function.url" onload="{{ identifier }}function.loaded = true">
                </div>

                <div class="text-center"
                     ng-hide="{{ identifier }}function.loaded">
                    <br />
                    Chargement ...
                    <br />
                    <div class="spinload"></div>
                </div>

                <!--<ng-include src="function.url"></ng-include>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>#}
