
        <div class="Clinique">
            <div class="imgArticle ">
                <img src="/{{ Image_Contenu_AccueilT2 |raw }}" class="img-responsive" alt="{{ Titre_Contenu_AccueilT2 |raw}}" title="{{ Titre_Contenu_AccueilT2|raw }}" />
            </div>
            <div class="titreArticle">
                <h2>{{ Titre_Contenu_AccueilT2 | raw }}</h2>
            </div>
            <div class="textArticle">
                <p class="texte"> {{ Texte_Contenu_AccueilT2 | raw }} </p>
            </div>
        </div>
        <div class="row blocAccueil">
            <div class="col-md-4">
{#                <img class="imgBlocAccueil" src="/Skins/VetoccitanT2/Images/veterinary.svg" alt="">#}
                <svg class="imgBlocAccueil" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="-703 285 512 512" enable-background="new -703 285 512 512" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path d="M-447,644.7c-16.6,0-30.2,13.5-30.2,30.2v24.8c0,4.1,3.4,7.5,7.5,7.5h45.3c4.1,0,7.5-3.4,7.5-7.5v-24.8
                                    C-416.8,658.2-430.4,644.7-447,644.7L-447,644.7z M-431.8,692.2h-30.3v-17.3c0-8.4,6.8-15.2,15.2-15.2s15.2,6.8,15.2,15.2
                                    L-431.8,692.2z"/>
                                <path d="M-199.7,557.6L-242,446.5c7.8-1.6,13.7-8.5,13.7-16.8V409c0-9.5-7.7-17.2-17.2-17.2h-86.2c-1.5-20.3-8.3-39.7-19.9-56.5
                                    c-2.3-3.4-7-4.3-10.4-1.9c-3.4,2.3-4.3,7-1.9,10.4c11.5,16.8,17.6,36.5,17.6,56.9c0,55.5-45.2,100.7-100.7,100.7
                                    s-100.7-45.2-100.7-100.7S-502.5,300-447,300c21.7,0,42.4,6.8,59.8,19.7c3.3,2.5,8,1.8,10.5-1.6c2.5-3.3,1.8-8-1.6-10.5
                                    c-20-14.8-43.8-22.6-68.7-22.6c-60.8,0-110.8,47.1-115.3,106.8h-86.2c-9.5,0-17.2,7.7-17.2,17.2v20.7c0,8.3,5.9,15.2,13.7,16.8
                                    l-42.3,111.2c-2,5.3-1.3,11.2,1.9,15.9c2.2,3.2,5.4,5.5,9,6.6v199.4c0,9.6,7.9,17.5,17.5,17.5h437.8c9.6,0,17.5-7.9,17.5-17.5
                                    V651.8c0-4.1-3.4-7.5-7.5-7.5s-7.5,3.4-7.5,7.5v127.7c0,1.4-1.1,2.5-2.5,2.5h-159.1V674.8c0-33-26.8-59.8-59.8-59.8
                                    s-59.8,26.8-59.8,59.8V782h-159.1c-1.4,0-2.5-1.1-2.5-2.5V580.9h442.8v34.9c0,4.1,3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5v-35.7
                                    c3.6-1.1,6.8-3.4,9-6.6C-198.4,568.8-197.7,562.9-199.7,557.6z M-491.8,674.8c0-24.7,20.1-44.8,44.8-44.8s44.8,20.1,44.8,44.8
                                    V782h-89.6L-491.8,674.8L-491.8,674.8z M-243.3,409v20.7c0,1.2-1,2.2-2.2,2.2h-90.1c2.2-8,3.6-16.4,4.1-25h86
                                    C-244.3,406.8-243.3,407.8-243.3,409L-243.3,409z M-680.3,563l44.2-116.2h27.3c4.1,0,7.5-3.4,7.5-7.5s-3.4-7.5-7.5-7.5h-39.8
                                    c-1.2,0-2.2-1-2.2-2.2V409c0-1.2,1-2.2,2.2-2.2h86c0.5,8.6,1.9,17,4.1,25h-14.4c-4.1,0-7.5,3.4-7.5,7.5s3.4,7.5,7.5,7.5h19.7
                                    c2.3,5.2,4.9,10.1,7.8,14.9h-17.8c-10.2,0-18.5,8.3-18.5,18.5v16.7h-2.7c-4.1,0-7.5,3.4-7.5,7.5c0,4.1,3.4,7.5,7.5,7.5h31.9
                                    c4.1,0,7.5-3.4,7.5-7.5c0-4.1-3.4-7.5-7.5-7.5h-14.2v-16.7c0-1.9,1.6-3.5,3.5-3.5h29c21.2,24.3,52.4,39.6,87.1,39.6
                                    s65.9-15.4,87.1-39.6h29c1.9,0,3.5,1.6,3.5,3.5v16.7h-14.2c-4.1,0-7.5,3.4-7.5,7.5c0,4.1,3.4,7.5,7.5,7.5h31.9
                                    c4.1,0,7.5-3.4,7.5-7.5c0-4.1-3.4-7.5-7.5-7.5h-2.7v-16.7c0-10.2-8.3-18.5-18.5-18.5h-17.8c3-4.7,5.6-9.7,7.8-14.9h83l44.2,116.2
                                    c0.4,0.9,0,1.7-0.2,2c-0.2,0.4-0.8,0.9-1.8,0.9h-462.5c-1,0-1.5-0.6-1.8-0.9C-680.3,564.6-680.6,563.9-680.3,563L-680.3,563z"/>
                                <path d="M-550.1,619.3h-79.5c-9.6,0-17.4,7.8-17.4,17.4v75c-4.4,1.9-7.4,6.3-7.4,11.4v16.8c0,6.9,5.6,12.4,12.4,12.4h103.6
                                    c6.9,0,12.4-5.6,12.4-12.4V723c0-4.8-2.8-9-6.8-11.1v-75.3C-532.7,627.1-540.5,619.3-550.1,619.3L-550.1,619.3z M-629.6,634.3
                                    h79.5c1.3,0,2.4,1.1,2.4,2.4v73.9H-632v-73.9C-632,635.4-630.9,634.3-629.6,634.3z M-540.9,737.2h-98.5v-11.6h98.5V737.2z"/>
                                <path d="M-264.4,619.3h-79.5c-9.6,0-17.4,7.8-17.4,17.4v75.1c-4.2,2-7.1,6.3-7.1,11.2v16.8c0,6.9,5.6,12.4,12.4,12.4h103.6
                                    c6.9,0,12.4-5.6,12.4-12.4V723c0-4.9-2.9-9.2-7.1-11.2v-75.1C-247,627.1-254.8,619.3-264.4,619.3z M-343.9,634.3h79.5
                                    c1.3,0,2.4,1.1,2.4,2.4v73.9h-84.3v-73.9C-346.3,635.4-345.3,634.3-343.9,634.3z M-254.9,737.2h-98.5v-11.6h98.5V737.2z"/>
                                <path d="M-424.3,718.2c-4.1,0-7.5,3.4-7.5,7.5v3.4c0,4.1,3.4,7.5,7.5,7.5s7.5-3.4,7.5-7.5v-3.4
                                    C-416.8,721.6-420.2,718.2-424.3,718.2z"/>
                                <path d="M-464.9,467.8c0.7,0,1.3,0.1,2,0.1c3.5,0,6.9-0.6,10.2-1.9c3.7-1.4,7.7-1.4,11.3,0c3.9,1.5,8,2.1,12.2,1.8
                                    c13.7-0.9,24.9-11.9,26.1-25.6c0.9-9.9-3.3-19.4-11.3-25.3c-3.3-2.5-5.5-6-6.1-9.8c-1-6.6-4.4-12.6-9.5-16.9
                                    c-10.5-9.1-26.4-9-36.9,0.1c-5.4,4.7-8.8,11.2-9.5,18.2c-0.4,3.8-2.3,7.4-5.2,10c-6.7,5.9-10.1,14.5-9.4,23.4
                                    C-489.9,455.8-478.7,466.9-464.9,467.8L-464.9,467.8z M-471.6,429.8c5.7-5.1,9.4-12,10.2-19.6c0.4-3.3,2-6.3,4.5-8.5
                                    c2.5-2.1,5.6-3.2,8.6-3.2c3.1,0,6.1,1.1,8.6,3.2c2.4,2.1,4,4.8,4.5,7.9c1.2,7.7,5.5,14.7,12,19.5c3.7,2.8,5.7,7.2,5.3,11.9
                                    c-0.6,6.4-5.8,11.5-12.2,11.9c-2,0.1-3.9-0.2-5.7-0.9c-7.2-2.8-15-2.8-22.2,0c-1.8,0.7-3.8,1-5.7,0.9
                                    c-6.5-0.4-11.7-5.6-12.2-12.1C-476.4,436.6-474.8,432.6-471.6,429.8L-471.6,429.8z"/>
                                <path d="M-473.3,382.3c12.3,0,22.3-10,22.3-22.3s-10-22.3-22.3-22.3s-22.3,10-22.3,22.3S-485.6,382.3-473.3,382.3z M-473.3,352.8
                                    c4,0,7.3,3.3,7.3,7.3s-3.3,7.3-7.3,7.3s-7.3-3.3-7.3-7.3S-477.3,352.8-473.3,352.8z"/>
                                <path d="M-398.4,360.1c0-12.3-10-22.3-22.3-22.3s-22.3,10-22.3,22.3s10,22.3,22.3,22.3S-398.4,372.4-398.4,360.1z M-428,360.1
                                    c0-4,3.3-7.3,7.3-7.3s7.3,3.3,7.3,7.3s-3.3,7.3-7.3,7.3S-428,364.1-428,360.1z"/>
                                <path d="M-532.6,395.6c0,12.3,10,22.3,22.3,22.3s22.3-10,22.3-22.3s-10-22.3-22.3-22.3S-532.6,383.4-532.6,395.6z M-503,395.6
                                    c0,4-3.3,7.3-7.3,7.3s-7.3-3.3-7.3-7.3s3.3-7.3,7.3-7.3S-503,391.6-503,395.6z"/>
                                <path d="M-383.7,417.9c12.3,0,22.3-10,22.3-22.3s-10-22.3-22.3-22.3s-22.3,10-22.3,22.3S-396,417.9-383.7,417.9z M-383.7,388.4
                                    c4,0,7.3,3.3,7.3,7.3s-3.3,7.3-7.3,7.3s-7.3-3.3-7.3-7.3S-387.7,388.4-383.7,388.4z"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <h3 class="titreBlocAccueil" style="padding-top:20px;">La structure</h3>
                <div class="bodyBlocAccueil"><a href="/clinique">En savoir +</a></div>
            </div>
            <div class="col-md-4">
                {% if Adherent.LienEshop is empty %}
{#                <img class="imgBlocAccueil" src="/Skins/VetoccitanT2/Images/team.svg" alt="">#}
                <svg class="imgBlocAccueil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
                    <g>
                        <g>
                            <path d="M451.72,237.26c-17.422-8.71-50.087-8.811-51.469-8.811c-4.142,0-7.5,3.358-7.5,7.5c0,4.142,3.358,7.5,7.5,7.5
                                c8.429,0.001,32.902,1.299,44.761,7.228c1.077,0.539,2.221,0.793,3.348,0.793c2.751,0,5.4-1.52,6.714-4.147
                                C456.927,243.618,455.425,239.113,451.72,237.26z"/>
                        </g>
                    </g>
                                        <g>
                                            <g>
                                                <path d="M489.112,344.041l-30.975-8.85c-1.337-0.382-2.271-1.62-2.271-3.011v-10.339c2.52-1.746,4.924-3.7,7.171-5.881
                                c10.89-10.568,16.887-24.743,16.887-39.915v-14.267l2.995-5.989c3.287-6.575,5.024-13.936,5.024-21.286v-38.65
                                c0-4.142-3.358-7.5-7.5-7.5H408.27c-26.244,0-47.596,21.352-47.596,47.596v0.447c0,6.112,1.445,12.233,4.178,17.699l3.841,7.682
                                v12.25c0,19.414,9.567,36.833,24.058,47.315l0.002,10.836c0,1.671,0,2.363-6.193,4.133l-15.114,4.318l-43.721-15.898
                                c0.157-2.063-0.539-4.161-2.044-5.742l-13.971-14.678v-24.64c1.477-1.217,2.933-2.467,4.344-3.789
                                c17.625-16.52,27.733-39.844,27.733-63.991v-19.678c5.322-11.581,8.019-23.836,8.019-36.457v-80.19c0-4.142-3.358-7.5-7.5-7.5
                                H232.037c-39.51,0-71.653,32.144-71.653,71.653v16.039c0,12.621,2.697,24.876,8.019,36.457v16.931
                                c0,28.036,12.466,53.294,32.077,69.946v25.22l-13.971,14.678c-1.505,1.581-2.201,3.679-2.044,5.742l-46.145,16.779
                                c-3.344,1.216-6.451,2.863-9.272,4.858l-7.246-3.623c21.57-9.389,28.403-22.594,28.731-23.25c1.056-2.111,1.056-4.597,0-6.708
                                c-5.407-10.814-6.062-30.635-6.588-46.561c-0.175-5.302-0.341-10.311-0.658-14.771c-2.557-35.974-29.905-63.103-63.615-63.103
                                s-61.059,27.128-63.615,63.103c-0.317,4.461-0.483,9.47-0.658,14.773c-0.526,15.925-1.182,35.744-6.588,46.558
                                c-1.056,2.111-1.056,4.597,0,6.708c0.328,0.656,7.147,13.834,28.76,23.234l-20.127,10.063C6.684,358.176,0,368.991,0,381.02
                                v55.409c0,4.142,3.358,7.5,7.5,7.5s7.5-3.358,7.5-7.5V381.02c0-6.312,3.507-11.987,9.152-14.81l25.063-12.531l8.718,8.285
                                c6.096,5.793,13.916,8.688,21.739,8.688c7.821,0,15.645-2.897,21.739-8.688l8.717-8.284l8.172,4.086
                                c-3.848,6.157-6.032,13.377-6.032,20.94v57.725c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-57.725
                                c0-10.296,6.501-19.578,16.178-23.097l48.652-17.691l20.253,30.381c2.589,3.884,6.738,6.375,11.383,6.835
                                c0.518,0.051,1.033,0.076,1.547,0.076c4.098,0,8.023-1.613,10.957-4.546l12.356-12.356v78.124c0,4.142,3.358,7.5,7.5,7.5
                                c4.142,0,7.5-3.358,7.5-7.5v-78.124l12.356,12.356c2.933,2.934,6.858,4.547,10.957,4.547c0.513,0,1.029-0.025,1.546-0.076
                                c4.646-0.46,8.795-2.951,11.384-6.835l20.254-30.38l48.651,17.691c9.676,3.519,16.178,12.801,16.178,23.097v57.725
                                c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-57.725c0-10.428-4.143-20.208-11.093-27.441l1.853-0.529
                                c1.869-0.534,4.419-1.265,6.979-2.52l19.149,19.149v69.066c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-69.066
                                l19.016-19.016c1.011,0.514,2.073,0.948,3.191,1.267l30.976,8.85c7.07,2.02,12.009,8.567,12.009,15.921v62.044
                                c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-62.044C512,360.371,502.588,347.892,489.112,344.041z M48.115,330.794
                                c-14.029-5.048-21.066-11.778-24.07-15.453c2.048-5.354,3.376-11.486,4.275-17.959c4.136,9.917,11.063,18.383,19.795,24.423
                                V330.794z M91.08,351.092c-6.397,6.078-16.418,6.077-22.813-0.001l-6.975-6.628c1.177-2.205,1.824-4.705,1.824-7.324v-7.994
                                c5.232,1.635,10.794,2.517,16.558,2.517c5.757,0,11.316-0.886,16.557-2.512l-0.001,7.988c0,2.62,0.646,5.121,1.824,7.327
                                L91.08,351.092z M79.676,316.662c-22.396,0-40.615-18.22-40.615-40.615c0-4.142-3.358-7.5-7.5-7.5c-0.42,0-0.83,0.043-1.231,0.11
                                c0.022-0.645,0.043-1.291,0.065-1.93c0.167-5.157,0.328-10.028,0.625-14.206c0.958-13.476,6.343-25.894,15.163-34.968
                                c8.899-9.156,20.793-14.198,33.491-14.198s24.591,5.042,33.491,14.198c8.82,9.074,14.205,21.492,15.163,34.968
                                c0.296,4.177,0.458,9.047,0.628,14.203c0.015,0.443,0.03,0.892,0.045,1.338c-8.16-12.572-20.762-21.837-37.045-27.069
                                c-15.043-4.833-27.981-4.534-28.527-4.52c-1.964,0.055-3.828,0.877-5.191,2.291l-13.532,14.034
                                c-2.875,2.982-2.789,7.73,0.193,10.605s7.73,2.788,10.605-0.193l11.26-11.677c9.697,0.474,40.894,4.102,53.027,30.819
                                C116.738,302.04,99.816,316.662,79.676,316.662z M111.229,330.819l0.001-8.945c8.725-6.007,15.662-14.457,19.801-24.449
                                c0.899,6.458,2.226,12.576,4.27,17.918C132.314,318.983,125.244,325.773,111.229,330.819z M183.403,209.145v-18.608
                                c0-1.129-0.255-2.244-0.746-3.261c-4.826-9.994-7.273-20.598-7.273-31.518V139.72c0-31.239,25.415-56.653,56.653-56.653h104.769
                                v72.692c0,10.92-2.447,21.524-7.273,31.518c-0.491,1.017-0.746,2.132-0.746,3.261v21.355c0,20.311-8.165,39.15-22.991,53.047
                                c-1.851,1.734-3.772,3.36-5.758,4.875c-0.044,0.03-0.086,0.063-0.129,0.094c-13.889,10.545-30.901,15.67-48.667,14.519
                                C213.201,281.965,183.403,248.897,183.403,209.145z M225.632,360.056c-0.052,0.052-0.173,0.175-0.418,0.149
                                c-0.244-0.024-0.34-0.167-0.381-0.229l-23.325-34.988l7.506-7.887l35.385,24.187L225.632,360.056z M256.095,331.113
                                l-40.615-27.762v-14c10.509,5.681,22.276,9.234,34.791,10.044c1.977,0.128,3.942,0.191,5.901,0.191
                                c14.341,0,28.143-3.428,40.538-9.935v13.7L256.095,331.113z M287.357,359.978c-0.041,0.062-0.137,0.205-0.381,0.229
                                c-0.245,0.031-0.365-0.098-0.418-0.149l-18.767-18.767l35.385-24.188l7.507,7.887L287.357,359.978z M424.308,353.65l-17.02-17.019
                                c0.297-1.349,0.465-2.826,0.464-4.455l-0.001-3.165c4.723,1.55,9.701,2.47,14.852,2.624c0.578,0.018,1.151,0.026,1.727,0.026
                                c5.692,0,11.248-0.86,16.536-2.501v3.02c0,1.496,0.188,2.962,0.542,4.371L424.308,353.65z M452.591,305.196
                                c-7.949,7.714-18.45,11.788-29.537,11.446c-21.704-0.651-39.361-19.768-39.361-42.613v-14.021c0-1.165-0.271-2.313-0.792-3.354
                                l-4.633-9.266c-1.697-3.395-2.594-7.195-2.594-10.991v-0.447c0-17.974,14.623-32.596,32.596-32.596h64.673v31.15
                                c0,5.034-1.19,10.075-3.441,14.578l-3.786,7.572c-0.521,1.042-0.792,2.189-0.792,3.354v16.038
                                C464.924,287.126,460.544,297.478,452.591,305.196z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M472.423,380.814c-4.142,0-7.5,3.358-7.5,7.5v48.115c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-48.115
                                C479.923,384.173,476.565,380.814,472.423,380.814z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M39.577,390.728c-4.142,0-7.5,3.358-7.5,7.5v38.201c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-38.201
                                C47.077,394.087,43.719,390.728,39.577,390.728z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M317.532,158.475c-28.366-28.366-87.715-22.943-111.917-19.295c-7.623,1.149-13.155,7.6-13.155,15.339v17.278
                                c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-17.279c0-0.255,0.168-0.473,0.392-0.507
                                c9.667-1.457,28.85-3.705,48.725-2.38c23.388,1.557,40.328,7.428,50.349,17.45c2.929,2.929,7.678,2.929,10.606,0
                                C320.461,166.152,320.461,161.403,317.532,158.475z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M167.884,396.853c-4.142,0-7.5,3.358-7.5,7.5v32.077c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-32.077
                                C175.384,400.212,172.026,396.853,167.884,396.853z"/>
                                            </g>
                                        </g>
                                        <g>
                                            <g>
                                                <path d="M344.306,396.853c-4.142,0-7.5,3.358-7.5,7.5v32.077c0,4.142,3.358,7.5,7.5,7.5c4.142,0,7.5-3.358,7.5-7.5v-32.077
                                C351.806,400.212,348.448,396.853,344.306,396.853z"/>
                                            </g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                                        <g>
                                        </g>
                </svg>
                <h3 class="titreBlocAccueil" style="padding-top:20px;">L'Equipe</h3>
                <div class="bodyBlocAccueil"><a href="/equipe">En savoir +</a></div>
                {% else %}
                <svg class="imgBlocAccueil"  viewBox="-51 0 512 512"  xmlns="http://www.w3.org/2000/svg"><path d="m179.304688 301.667969c16.089843 0 23.054687-18.058594 20.332031-31.640625-2.648438-13.222656-12.601563-22.816406-23.667969-22.816406-16.105469 0-23.027344 17.71875-20.382812 31.394531.015624.082031.03125.164062.046874.242187 2.652344 13.222656 12.605469 22.820313 23.671876 22.820313zm-4.105469-39.382813c5.371093-1.074218 8.921875 6.660156 9.730469 10.691406.855468 4.265626.6875 13.691407-5.625 13.691407-3.273438 0-7.632813-4.117188-8.964844-10.765625-1.394532-6.957032 1.414062-12.925782 4.859375-13.617188zm0 0"/><path d="m140.070312 328.832031c12.976563-5.742187 14.566407-22.523437 9.429688-34.132812-5.128906-11.582031-18.597656-21.726563-31.609375-15.964844-11.507813 5.09375-15.648437 20.085937-9.429687 34.132813 5.125 11.578124 18.597656 21.726562 31.609374 15.964843zm-17.894531-22.035156c-2.871093-6.488281-1.425781-12.925781 1.785157-14.347656 5.007812-2.21875 10.160156 4.5625 11.824218 8.320312 1.664063 3.761719 3.222656 12.128907-1.785156 14.347657-5.011719 2.214843-10.160156-4.5625-11.824219-8.320313zm0 0"/><path d="m226.402344 301.300781c13.925781 2.789063 24.882812-9.964843 27.386718-22.449219 2.691407-13.433593-4.140624-31.640624-20.332031-31.640624-11.066406 0-21.023437 9.59375-23.671875 22.816406-3.019531 15.0625 4.277344 28.800781 16.617188 31.273437zm-1.910156-28.324219c.847656-4.238281 4.210937-11.789062 9.734374-10.691406 5.371094 1.082032 5.664063 9.582032 4.855469 13.617188-.839843 4.1875-4.242187 11.796875-9.730469 10.691406-3.445312-.691406-6.253906-6.660156-4.859374-13.617188zm0 0"/><path d="m259.921875 294.699219c-6.21875 14.046875-2.078125 29.039062 9.429687 34.132812 12.976563 5.746094 26.464844-4.339843 31.609376-15.964843 5.152343-11.632813 3.546874-28.390626-9.425782-34.132813-12.925781-5.722656-26.449218 4.304687-31.613281 15.964844zm28.570313 2.1875c.683593 2.960937.230468 6.574219-1.246094 9.910156-1.707032 3.855469-6.746094 10.570313-11.820313 8.320313-3.210937-1.421876-4.660156-7.859376-1.785156-14.347657 2.519531-5.6875 7.003906-8.664062 10.132813-8.664062 2.703124 0 4.171874 2.421875 4.71875 4.78125zm0 0"/><path d="m250.480469 330.363281c-7.464844 0-10.792969-3.183593-15.828125-8.003906-6.203125-5.933594-13.921875-13.316406-29.941406-13.316406-16.019532 0-23.738282 7.382812-29.941407 13.316406-5.035156 4.820313-8.363281 8.003906-15.828125 8.003906-10.527344 0-21.148437 7.226563-27.722656 18.855469-14.113281 24.976562-.597656 63.894531 31.128906 63.894531 6.863282 0 14.039063-1.5 20.980469-2.953125 14.84375-3.101562 27.726563-3.144531 42.769531 0 6.941406 1.453125 14.117188 2.953125 20.984375 2.953125 31.847657.003907 45.183594-39.015625 31.121094-63.894531-6.574219-11.628906-17.195313-18.855469-27.722656-18.855469zm14.03125 57.476563c-8.074219 13.402344-22.3125 10.363281-35.34375 7.640625-17.070313-3.570313-31.851563-3.570313-48.910157 0-13.285156 2.777343-27.21875 5.859375-35.34375-7.640625-8.515624-14.140625-3.28125-26.558594-.636718-31.242188 3.742187-6.613281 9.769531-11.234375 14.664062-11.234375 13.484375 0 20.535156-6.746093 26.199219-12.164062 12.308594-11.777344 27.011719-11.609375 39.140625 0 5.664062 5.417969 12.714844 12.164062 26.203125 12.164062 4.894531 0 10.921875 4.621094 14.660156 11.234375 2.644531 4.683594 7.878907 17.097656-.632812 31.242188zm0 0"/><path d="m204.710938 200.015625c-71.761719 0-130.144532 58.382813-130.144532 130.144531 0 71.765625 58.382813 130.148438 130.144532 130.148438 71.761718 0 130.144531-58.382813 130.144531-130.148438 0-71.761718-58.382813-130.144531-130.144531-130.144531zm0 245.292969c-63.492188 0-115.144532-51.65625-115.144532-115.148438 0-63.488281 51.652344-115.144531 115.144532-115.144531 63.492187 0 115.144531 51.65625 115.144531 115.144531 0 63.492188-51.652344 115.148438-115.144531 115.148438zm0 0"/><path d="m315.042969 163.324219c15.894531 0 29.675781 11.320312 32.757812 26.914062 0 0 32.949219 166.695313 32.980469 166.84375.789062 3.992188 4.824219 6.691407 8.8125 5.902344 4.0625-.800781 6.703125-4.746094 5.902344-8.808594l-32.980469-166.84375c-4.453125-22.53125-24.308594-38.898437-47.253906-39.003906v-37.777344c0-60.957031-49.59375-110.550781-110.550781-110.550781-60.957032 0-110.546876 49.59375-110.546876 110.550781v37.777344c-22.949218.105469-42.804687 16.472656-47.257812 39.003906l-7.675781 38.84375c-.804688 4.0625 1.835937 8.007813 5.902343 8.808594 4.0625.804687 8.007813-1.835937 8.8125-5.902344l7.675782-38.84375c3.085937-15.59375 16.859375-26.914062 32.761718-26.914062zm-55.328125-15h-110.007813v-37.773438c0-30.332031 24.675781-55.007812 55.003907-55.007812 30.332031 0 55.003906 24.675781 55.003906 55.007812zm15 0v-37.773438c0-38.601562-31.402344-70.007812-70.003906-70.007812-38.601563 0-70.003907 31.40625-70.003907 70.007812v37.773438h-25.542969v-37.773438c0-52.6875 42.859376-95.550781 95.546876-95.550781s95.550781 42.863281 95.550781 95.550781v37.773438zm0 0"/><path d="m33.300781 256.175781-31.773437 160.730469c-4.640625 23.464844 1.410156 47.527344 16.597656 66.007812 15.1875 18.484376 37.617188 29.085938 61.539062 29.085938h250.09375c23.921876 0 46.351563-10.601562 61.539063-29.085938 15.1875-18.480468 21.238281-42.542968 16.597656-66.007812l-6.46875-32.730469c-.804687-4.066406-4.746093-6.707031-8.8125-5.902343-4.0625.800781-6.707031 4.746093-5.902343 8.8125l6.46875 32.730468c3.765624 19.046875-1.144532 38.578125-13.472657 53.578125-12.324219 15-30.53125 23.605469-49.949219 23.605469h-250.09375c-19.417968 0-37.625-8.605469-49.949218-23.605469-12.328125-15.003906-17.238282-34.53125-13.472656-53.582031l31.769531-160.730469c.804687-4.0625-1.835938-8.007812-5.902344-8.8125-4.066406-.800781-8.007813 1.839844-8.808594 5.90625zm0 0"/></svg>
                <h3 class="titreBlocAccueil" style="padding-top:20px;">L'Eshop</h3>
                <div class="bodyBlocAccueil"><a href="{{ Adherent.LienEshop }}">En savoir +</a></div>
                {% endif %}
            </div>
            <div class="col-md-4">
{#                <img class="imgBlocAccueil" src="/Skins/VetoccitanT2/Images/URGENCE.svg" alt="">#}
                <svg class="imgBlocAccueil" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                     viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
                    <g>
                        <g>
                            <g>
                                <path d="M46,505c-4.4,0-8-3.6-8-8c0-32.2,22.9-60.2,54.4-66.6l5.6-1.1V256c0-87.1,70.9-158,158-158s158,70.9,158,158v173.2
                                    l5.6,1.1c31.5,6.4,54.4,34.4,54.4,66.6c0,4.4-3.6,8-8,8H46z M106,445c-22,0-41.7,13.9-49,34.7l-3.3,9.3h404.7l-3.3-9.3
                                    c-7.4-20.7-27.1-34.7-49-34.7H106z M264,369h52c21,0,38,17,38,38v22h44V256c0-78.3-63.7-142-142-142s-142,63.7-142,142v173h44
                                    v-22c0-21,17-38,38-38h52v-67.1l-11.2,8.4c-11.9,8.9-26,13.6-40.8,13.6c-4.4,0-8-3.6-8-8V196c0-4.4,3.6-8,8-8
                                    c21.6,0,41.4,9.9,54.4,27.3l5.6,7.5l5.6-7.5c13-17.3,32.8-27.3,54.4-27.3c4.4,0,8,3.6,8,8v120c0,4.4-3.6,8-8,8
                                    c-14.8,0-28.9-4.7-40.8-13.6l-11.2-8.4V369z M196,385c-12.1,0-22,9.9-22,22v22h164v-22c0-12.1-9.9-22-22-22H196z M204,308.3
                                    l9.3-3.3c20.7-7.4,34.7-27.1,34.7-49c0-22-13.9-41.7-34.7-49l-9.3-3.3V308.3z M298.7,207c-20.7,7.4-34.7,27.1-34.7,49
                                    s13.9,41.7,34.7,49l9.3,3.3V203.7L298.7,207z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M256,54c-4.4,0-8-3.6-8-8V15c0-4.4,3.6-8,8-8s8,3.6,8,8v31C264,50.4,260.4,54,256,54z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M151,82.2c-2.9,0-5.5-1.5-6.9-4l-15-26c-1.1-1.9-1.4-4-0.8-6.1s1.9-3.8,3.7-4.9c1.2-0.7,2.6-1.1,4-1.1
                                    c2.9,0,5.5,1.5,6.9,4l15,26c2.2,3.8,0.9,8.7-2.9,10.9C153.8,81.8,152.4,82.2,151,82.2C151,82.2,151,82.2,151,82.2z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M74.2,159c-1.4,0-2.8-0.4-4-1.1l-26-15c-3.8-2.2-5.1-7.1-2.9-10.9c1.4-2.5,4.1-4,6.9-4c1.4,0,2.8,0.4,4,1.1l26,15
                                    c3.8,2.2,5.1,7.1,2.9,10.9C79.7,157.5,77,159,74.2,159L74.2,159z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M15,264c-4.4,0-8-3.6-8-8s3.6-8,8-8h31c4.4,0,8,3.6,8,8s-3.6,8-8,8H15z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M466,264c-4.4,0-8-3.6-8-8s3.6-8,8-8h31c4.4,0,8,3.6,8,8s-3.6,8-8,8H466z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M437.8,159c-2.9,0-5.5-1.5-6.9-4c-1.1-1.9-1.4-4-0.8-6.1c0.6-2.1,1.9-3.8,3.7-4.9l26-15c1.2-0.7,2.6-1.1,4-1.1
                                    c2.9,0,5.5,1.5,6.9,4c1.1,1.8,1.4,4,0.8,6.1c-0.6,2.1-1.9,3.8-3.7,4.9l-26,15C440.6,158.7,439.3,159,437.8,159
                                    C437.8,159,437.8,159,437.8,159z"/>
                            </g>
                        </g>
                        <g>
                            <g>
                                <path d="M361,82.2c-1.4,0-2.8-0.4-4-1.1c-1.9-1.1-3.2-2.8-3.7-4.9c-0.6-2.1-0.3-4.2,0.8-6.1l15-26c1.4-2.5,4.1-4,6.9-4
                                    c1.4,0,2.8,0.4,4,1.1c1.8,1.1,3.2,2.8,3.7,4.9s0.3,4.2-0.8,6.1l-15,26C366.5,80.6,363.8,82.2,361,82.2L361,82.2z"/>
                            </g>
                        </g>
                    </g>
                </svg>
                <h3 class="titreBlocAccueil" style="padding-top:20px;">Urgence</h3>
                <div class="bodyBlocAccueil"><a href="/urgence">En savoir +</a></div>
            </div>
        </div>