<div class="row" id="spectacle-fiche">
    <div class="col-lg-8">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="/{{ s.Logo }}.limit.1000x1000.jpg" alt="...">
                    <div class="carousel-caption">
                        test de resumé
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="row fiche-propriete">
            <div class="col-lg-3 genre">{{ s.Genre }}</div>
            <div class="col-lg-3">{{ s.TypePublic }}</div>
            <div class="col-lg-6">{{ s.Localisation }}</div>
        </div>
        <div class="row fiche-propriete">
            <div class="col-lg-9">{{ s.DateDebut |date('d/m/Y H:i', timezone="Europe/Paris")}}</div>
            <div class="col-lg-3">{{ s.Duree }} mins</div>
        </div>
        <table class="table table-striped">
            <thead>
                <th>DATE</th>
                <th>LIEU</th>
                <th>ADRESSE</th>
                <th>TELEPHONE</th>
                <th>WEB</th>
                <th>DISPO</th>
            </thead>
            <tbody>
                {% for e in evenements %}
                    <tr>
                        <td>{{ e.DateDebut |date('d/m/Y H:i', timezone="Europe/Paris") }}</td>
                        <td>{{ e.Salle.Nom }}</td>
                        <td>{{ e.Salle.Adresse }} {{ e.Salle.Ville }} {{ e.Salle.CodPos }}</td>
                        <td>{{ structure.Tel }}</td>
                        <td>{{ structure.SiteWeb ? '<a href="'~structure.SiteWeb~'" target="_blank">'~structure.Nom~'</a>' : '<i class="fas fa-cross"></i>'}}</td>
                        <td>{{ e.NbPlace>0 ? '<i class="fas fa-check"></i>' : '<i class="fas fa-cross"></i>' }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="row">
            <div class="col-lg-11"><a href="#nogo" class="btn btn-css34">RESERVER*</a></div>
            <div class="col-lg-1"><i class="fas fa-print"></i></div>
        </div>
    </div>
    <div class="col-lg-4" id="description">
        <h1>{{ s.Nom }}</h1>
        <img src="/{{ s.Logo }}.limit.400x600.jpg" class="img-responsive"/>
        <p >{{ s.Resume |striptags }}</p>
    </div>
</div>