<div class="spectacles-list">
    {% for s in spectacles %}
    <a class="card {{ s.big }}" href="/{{ s.getUrl() }}">
        <div class="spectacle-item">
            <img src="/{{ s.Logo }}.mini.300x320.jpg" class="card-img-top img-responsive" alt="">
            <div class="card-body" style="background-color:{{ s.Couleur }}">
                <h5 class="card-title">{{ s.Nom }}</h5>
                <p class="card-text">{{ s.Genre }}</p>
                <p class="card-text">du {{ s.DateDebut }} au {{ s.DateFin }}</p>
            </div>
        </div>
    </a>
    {% endfor %}
</div>
<script type="text/javascript">
    $('.spectacles-list').isotope({
        // set itemSelector so .grid-sizer is not used in layout
        itemSelector: '.card',
        percentPosition: true,
        masonry: {
            // use element for option
            columnWidth: '.card'
        }
    })
</script>