/** ITEM HELPER **/
{% macro spectacle_item(s,sc,g) %}
    <a class="card {{ s.big }}" href="/{{ s.getUrl() }}">
        <div class="spectacle-item">
            <img src="/{{ s.Logo }}.mini.300x320.jpg" class="card-img-top img-responsive" alt="">
            <div class="card-body" style="background-color:{{ s.Couleur }}">
                <p class="card-text">{{ s.Genre }}</p>
                <p class="card-text">du {{ s.DateDebut |date('d/m/Y H:i', timezone="Europe/Paris")}} au {{ s.DateFin |date('d/m/Y H:i', timezone="Europe/Paris")}}</p>
                <p class="card-text">à {{ spectacle.Localisation  }}</p>
                <h5 class="card-title">{{ s.Nom }}</h5>
                <p class="card-text">{{ sc.Ville }} - {{ s.TypePublic }}</p>
            </div>
        </div>
    </a>
{% endmacro %}
{% macro template_spectacle_item() %}
    {% verbatim %}
    <template id="spectacles-list">
        <a class="card" :class="{big:spectacle.big }" v-for="(spectacle,index) in spectacles" v-bind:key="index" :to="{path: spectacle.Url, params: {spectacle: spectacle}}" v-on:click.prevent="goToFiche(spectacle)">
            <div class="spectacle-item">
                <img :src="'/'+spectacle.Logo+'.mini.300x320.jpg'" class="card-img-top img-responsive" alt="">
                <div class="card-body" :style="{backgroundColor: spectacle.Couleur}">
                    <p class="card-text">{{ spectacle.Genre  }}</p>
                    <p class="card-text" v-if="spectacle.DateDebut !== spectacle.DateFin">du {{ spectacle.DateDebut |date('d/m/Y H:i', timezone="Europe/Paris")  }} au {{ spectacle.DateFin |date('d/m/Y H:i', timezone="Europe/Paris")  }}</p>
                    <p class="card-text" v-else>le {{ spectacle.DateDebut |date('d/m/Y H:i', timezone="Europe/Paris")  }}</p>
                    <p class="card-text">à {{ spectacle.Localisation  }}</p>
                    <h5 class="card-title">{{ spectacle.Nom  }}</h5>
                    <p class="card-text">{{ spectacle.Ville  }} - {{ spectacle.TypePublic  }}</p>
                </div>
            </div>
        </a>
    </template>
    {% endverbatim %}
{% endmacro %}