<template>
    <form v-on:submit.prevent="onSubmit">
        <div class="row">
            <div class="col-lg-12 hidden-xs " style="padding: 0;margin:0 0 10px;">
                {{ include(template_from_string(module('Reservation/Timeline'))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 hidden-lg hidden-md hidden-sm" id="filters">
                {{ include(template_from_string(module('Reservation/Filters'))) }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 col-xs-12" id="spectacle">
                {% from "Skins/Css34/Modules/Reservation/Spectacle/ListItem.twig" import  spectacle_item,template_spectacle_item %}
                <div class="spectacles-list spectacles-list-reset">
                    {{ template_spectacle_item() }}
                </div>
            </div>
            <div class="col-lg-2 hidden-xs" id="filters">
                {{ include(template_from_string(module('Reservation/Filters'))) }}
            </div>
        </div>
    </form>
</template>
<script>
    module.exports = {
        name: 'spectacle-container',
        template: '#sorties',
        data (){
            return {
                busy:false,
                public: '',
                genre: '',
                spectacles: [],
                spectacle: {},
                date: '',
                appDate : '',
                search: '',
                dirty: 0,
                first: true,
                render: true,
                busy: false,
                timezone: '',
                dpfr: vdp_translation_fr.js,
                dateOrigin : ''
            };
        },
        components: {
            /*spectacleList*/
            vuejsDatepicker
        },
        methods: {
            onSubmit: function (event) {
                console.log('COMP submit detected display component', this.spectacles);
                this.getData();
            },
            clearFilters: function (event) {
                console.log('COMP submit detected display component', this.spectacles);
                this.genre = "";
                this.public = "";
                this.date = {{ initDate }};
                this.appDate = "";
                this.dateOrigin = 'date';
                this.search = "";
                this.getData();
            },
            onGenderClick: function (value) {
                console.log('COMP click gender detected display component', value, this.spectacles);
                if (this.genre == value) {
                    //unselect
                    this.genre = '';
                } else
                    this.genre = value;
                this.getData();
            },
            onDateClick: function (value) {
                console.log('COMP click date detected display component', this.spectacles);
                if (this.date === value) {
                    //unselect
                    this.date = new Date();
                    this.date.setHours(0,0,0);
                    this.date.setMilliseconds(0);
                    this.date = this.date/ 1000 + 86400;
                } else
                    this.date = value;
                //this.getData();
            },
            getData: function () {

                var me = this;
                me.busy = true;
                axios
                    .get('/Reservation/Spectacle/getData.json?filters=~' + this.search + '&date=' + this.date + '&genre=' + this.genre+ '&public=' + this.public)
                    .then(function (response) {
                        me.render = false;
                        me.resetData();
                        me.dirty = true;
                        Vue.nextTick(function () {
                            me.addData(response.data.data);
                            me.render = true;
                            me.dirty = false;
                            me.busy=false;
                            console.log('COMP rendu component', me.spectacles);
                        })
                    });
            },
            resetData: function () {
                var nb = this.spectacles.length;
                for (var i = 0; i < nb; i++)
                    this.spectacles.pop();
                console.log('COMP CONTAINER: resetdata', this.spectacles);
            },
            addData: function (tab) {
                for (var i in tab)
                    this.spectacles.push(tab[i]);
                console.log('COMP CONTAINER: addata', this.spectacles);
            },
            refreshIsotope: function () {
                $('.spectacles-list').isotope('destroy');
                $('.spectacles-list').isotope();
            },
            goToFiche: function (spectacle){
                console.log('gotofiche: ',spectacle);
                window.spec.spectacle = spectacle;
                router.push({path: spectacle.Url, params: {spectacle:spectacle}});
            }
        },
        mounted: function () {
            console.log('APP VUE > RESET CSS');
            //reset css
            //$('.spectacles-list').addClass('spectacles-list-reset');
        },
        created: function(){
            console.log('>>>>>>>>>>>>>>>>>CREATED');
            this.genre = '';
            this.date = {{ initDate }};
            this.getData();
        },
        watch: {
            spectacles: function (val) {
                if (val.length) {
                    setTimeout(function () {
                        console.log('COMP CONTAINER: after data', $('.spectacles-list'));
                        $('.spectacles-list').isotope('destroy');
                        $('.spectacles-list').isotope({
                            // set itemSelector so .grid-sizer is not used in layout
                            itemSelector: '.card',
                            percentPosition: true,
                            masonry: {
                                // use element for option
                                columnWidth: '.card'
                            }
                        }, 100);
                    });
                }
            },
            date: function(val){
                if(this.dateOrigin == 'appDate') {
                    this.dateOrigin = '';
                    return false;
                }
                //console.log(val);
                this.appDate = new Date(val*1000);
                this.dateOrigin = 'date';
                this.getData();
            },
            appDate: function(val){
                console.log(val);
                if(this.dateOrigin == 'date') {
                    this.dateOrigin = '';
                    return false;
                }
                console.log(val);
                this.date = val.getTime() / 1000
                this.dateOrigin = 'appDate';
                this.getData();
            }
        }
    };
</script>
<style>

</style>