{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean %} 
{% set o='obj' %}
<div class="form-group row">
	<div class="col-lg-5 col-md-12">
		<div class="input-group list-search">
			<div class="row">
				<div class="col-md-6" style="padding-right:0">
					<input type="text" id="search{{ identifier }}2" autofocus class="form-control" name="{{ identifier }}query2" ng-model="{{ identifier }}.filter2" placeholder="Nom..." >
				</div>
				<div class="col-md-6" style="padding-left:0">
					<input type="text" id="search{{ identifier }}1" class="form-control" name="{{ identifier }}query1" ng-model="{{ identifier }}.filter1" placeholder="Recherche..." >
				</div>
			</div>
			<span class="input-group-btn">
				<a href="javascript: void(0);" class="btn btn-default cadref-btn-erase" accesskey="x" title="Alt X" ng-click="clearFilter('{{ identifier }}')"></a>				
				<a href="javascript: void(0);" class="btn btn-warning" accesskey="r" title="Alt R" ng-click="{{ identifier }}.store.refresh('{{ context }}')">
					Rafraîchir
				</a>
			</span>
		</div>
	</div>
	<div class="col-lg-1 col-md-12">
		<select class="form-control" ng-model="{{ identifier }}.pageLength" >
			<option ng-selected="{{ identifier }}.pageLength == 15" value="15">15 </option>
			<option ng-selected="{{ identifier }}.pageLength == 25" value="25">25 </option>
			<option ng-selected="{{ identifier }}.pageLength == 50" value="50">50 </option>
			<option ng-selected="{{ identifier }}.pageLength == 100" value="100">100 </option>
			<option ng-selected="{{ identifier }}.pageLength ==  9999" value="9999">Tous </option>
		</select>
	</div>

	<div class="col-lg-2 col-md-12">
	</div>
	<div class="col-lg-4 col-md-12">
		<dir-pagination-controls boundary-links="true" pagination-context="{{ context }}" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>
<div class="listWrap">
	<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%">
		<thead>
			<tr>
				<th title="Id" class="list-col-th-id" hidden>ID</th>
				<th>Numéro</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Ville</th>
				<th>Adresse</th>
{#				<th>Téléphone</th>
				<th>Téléphone</th>
#}				<th>Mail</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody ng-if="!{{ identifier }}.store.busy['{{ context }}']">
			<tr dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination">
				<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Numero }]}</a></td>
				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Nom }]}</a></td>
				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Prenom }]}</a></td>
				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Ville }]}</a></td>
				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Adresse1 }]}</a></td>
{#				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Telephone1 }]}</a></td>
				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Telephone2 }]}</a></td>
#}				<td scope="row" class="typevarchar"><a href="#/{{ CurrentUrl }}/{[{ item.id }]}">{[{ item.Mail }]}</a></td>


				<td scope="row" class="cadref-td typeint">
					<a class="btn-abt cadref-btn-carte btn-primary" ng-click="benevoleCarte(item)" title="Carte"></a>
{#					<a href="#down" class="btn-abt btn-abt-fiscal btn-info" ng-click="benevoleAttestation(item,2)" title="Attestations de paiement"></a>
#}				</td>
			</tr>
		</tbody>
		<tbody ng-if="{{ identifier }}.store.busy['{{ context }}']">
			<tr>
				<td colspan="100">
					<div class="spinner-list"></div>
				</td>
			</tr>
		</tbody>

	</table>
</div>
<div class="form-group row">
    <div class="col-lg-6 col-md-12">
    </div>
    <div class="col-lg-6 col-md-12">
        <dir-pagination-controls boundary-links="true" pagination-context="{{ context }}" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>

<div class="modal fade modal-size-large" id="modal-{{ identifier }}" role="modal" data-backdrop="static" aria-labelledby="" aria-hidden="true">
	<div class="modal-dialog cadref-modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<a class="btn-abt cadref-btn-close" href="" data-dismiss="modal" title="Annuler"></a>
				<h4 class="modal-title" id="myModalLabel">{[{ modalObj.title }]}</h4>
			</div>
			<div class="modal-body">
            <div class="row no-gutters">
                <div class="col-md-12">
					<div class="row">
						<div class="col-md-7" >
							<div class="row">
								<div class="col-md-2">
									{{ label("Numéro") }}
								</div>
								<div class="col-md-2">
									{{ finput(f.Numero, o, true, '', 'width:80px') }}
								</div>
							</div>
							{{ flinput(f.Nom, o, false, '', 'text-transform:uppercase;', true) }}
							{{ flinput(f.Prenom, o) }}
							{{ flinput(f.Adresse1, o) }}
							{{ flinput(f.Adresse2, o) }}
							<div class="row">
								<div class="col-md-2">
									{{ label("CP Ville") }}
								</div>
								<div class="col-md-2">
									{{ finput(f.CP, o, false, 'ddddd') }}
								</div>
								<div class="col-md-8">
									{{ finput(f.Ville, o, false, '', 'text-transform:uppercase;', true) }}
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Téléphones") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-6">
											{{ finput(f.Telephone1, o, false, 'dd.dd.dd.dd.dd') }}
										</div>
										<div class="col-md-6">
											{{ finput(f.Telephone2, o, false, 'dd.dd.dd.dd.dd') }}
										</div>
									</div>
								</div>
							</div>
							{{ flinput(f.Mail, o) }}
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Année de Naissance") }}
										</div>
										<div class="col-md-7">
											{{ finput(f.Naissance, o) }}
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Sexe") }}
										</div>
										<div class="col-md-7">
											{{ fvalues(f.Sexe, o) }}
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Certificat médical") }}
										</div>
										<div class="col-md-7">
											<input type="text" ng-if="!obj.certifInvalide" class="form-control cadref-input" ng-model="obj.Certificat" readonly/>
											<input type="text" ng-if="obj.certifInvalide" class="form-control cadref-input cadref-highlight" ng-model="obj.Certificat" 
												   title="Certificat médical absent ou obsolète" onmouseenter="$(this).tooltip('show')"readonly/>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Situation") }}
										</div>
										<div class="col-md-7">
											{{ fquery(f.SituationId, o) }}
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Profession") }}
										</div>
										<div class="col-md-7">
											{{ fquery(f.ProfessionId, o) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Connaissance du CADREF") }}
										</div>
										<div class="col-md-7">
											{{ fvalues(f.Origine, o) }}
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Année d'inscription") }}
										</div>
										<div class="col-md-7">
											{{ finput(f.Inscription, o, true) }}
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-5">
											{{ label("Dernière inscription") }}
										</div>
										<div class="col-md-7">
											{{ finput(f.Annee, o, true) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-4">
									<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="{{ identifier }}InfoSave()">Enregistrer les modifications</button>
								</div>
							</div>
						</div>
			</div>
        </div>
	</div>
</div>
<script type="text/javascript">
	$('.spinner-list').spin();
</script>
