<div class="form-group row">
	<div class="col-lg-5 col-md-12">
		<div class="input-group list-search">
			<input type="text" id="search{{ identifier }}" class="form-control" name="{{ identifier }}query" ng-model="{{ identifier }}.filter" placeholder="Recherche..." >
			<span class="input-group-btn">
				<a href="javascript: void(0);" class="btn btn-default cadref-btn-erase" accesskey="x" title="Alt X" ng-click="clearFilter('{{ identifier }}')"></a>				
				<a href="javascript: void(0);" class="btn btn-warning" accesskey="r" title="Alt R" ng-click="{{ identifier }}.store.refresh('{{ context }}')">
					Rafraîchir
				</a>
			</span>
		</div>
	</div>
	<div class="col-lg-1 col-md-12">
		<select class="form-control" ng-model="{{ identifier }}.pageLength" >
			<option ng-selected="{{ identifier }}.pageLength == 15" value="15">15 </option>
			<option ng-selected="{{ identifier }}.pageLength == 25" value="25">25 </option>
			<option ng-selected="{{ identifier }}.pageLength == 50" value="50">50 </option>
			<option ng-selected="{{ identifier }}.pageLength == 100" value="100">100 </option>
			<option ng-selected="{{ identifier }}.pageLength ==  9999" value="9999">Tous </option>
		</select>
	</div>

	<div class="col-lg-2 col-md-12">
	</div>
	<div class="col-lg-4 col-md-12">
		<dir-pagination-controls boundary-links="true" pagination-context="{{ context }}" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
	</div>
</div>
<div class="listWrap">
	<table class="table table-hover nowrap straight" id="{{ identifier }}-table" width="100%">
		<thead>
			<tr>
				<th title="Id" class="list-col-th-id" hidden>ID</th>
				<th>Classe</th>
				<th>Libellé</th>
				<th>Heures</th>
				<th>Période</th>
				<th>Places</th>
				<th>Doc.</th>
			</tr>
		</thead>
		<tbody ng-if="!{{ identifier }}.store.busy['{{ context }}']">
			<tr dir-paginate="item in {{ identifier }}.data" pagination-context="{{ context }}" current-page="{{ identifier }}.currentPage" items-per-page="{{ identifier }}.pageLength" pagination-id="{{ identifier }}-pagination">
				<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
				<td scope="row" class="typevarchar"><a href="">{[{ item.CodeClasse }]}</a></td>
				<td scope="row" class="typevarchar"><a href="">{[{ item.LibelleD+' '+item.LibelleN }]}</a></td>
				<td scope="row" class="typevarchar"><a href="">{[{ item.Jour.substring(0, 3)+' '+item.HeureDebut+'&nbsp;- '+item.HeureFin }]}</a></td>
				<td scope="row" class="typevarchar"><a href="">{[{ item.CycleDebut ? item.CycleDebut+'&nbsp;- '+item.CycleFin : '' }]}</a></td>
				<td scope="row" class="typefloat"><span>{[{ (item.Places*1)-(item.Inscrits*1)+'/'+item.Places+(item.Attentes ? ' ('+item.Attentes+')' : '') }]}</span></td>
				<td scope="row" class="cadref-td typeint">
					<span class="btn btn-xs cadref-fkey" ng-class="{'btn-primary': item.Attachements==0, 'btn-success': item.Attachements!=0}" 
						  ng-click="attachementsOpen(item, 'classe')" title="{[{ item.Attachements ? item.Attachements+' documents' : 'Aucun documents' }]}">{[{ item.Attachements }]}
					</span>
				</td>
			</tr>
		</tbody>
		<tbody ng-if="{{ identifier }}.store.busy['{{ context }}']">
			<tr>
				<td colspan="100">
					<div class="spinner-list"></div>
				</td>
			</tr>
		</tbody>

	</table>
</div>
<div class="form-group row">
    <div class="col-lg-6 col-md-12">
    </div>
    <div class="col-lg-6 col-md-12">
        <dir-pagination-controls boundary-links="true" pagination-context="{{ context }}" pagination-id="{{ identifier }}-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
{{ include(template_from_string(module('Cadref/Default/attachementModal'))) }}
<script type="text/javascript">
	$('.spinner-list').spin();
</script>
