{# fiche Visite #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean,fkey %} 
{% set f=fields %}
{% set o='resObj' %}
<div class="page-content-inner">
    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-body cadref-panel-body">
            <div class="row no-gutters">
                <div class="col-md-10">
					<div class="row">
						<div class="col-md-9" >
							<div class="row">
								<div class="col-md-2">
									{{ label("Visite") }}
								</div>
								<div class="col-md-10" ng-if="!{{ o }}.VisiteVisiteId">
									<div custom-select="a.id as a.label+'  -  '+a.Libelle for a in getSelectData('CadrefVisiteStore',$searchTerm)" 
										 custom-select-options="{ 'async': true, 'filter':''}" 
										 ng-model="{{ o }}.VisiteVisiteId" 
										 class="form-control" 
										 ng-title="{{ o }}.VisiteVisiteIdlabel+'  -  '+obj.LibelleS">
									</div>
								</div>
								<div class="col-md-10" ng-if="{{ o }}.VisiteVisiteId">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.VisiteId, o) }}
										</div>
										<div class="col-md-10">
											<div class="control-group">
												<input type="text" class="form-control cadref-input" ng-model="obj.Libelle" readonly/>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label('Adhérent') }}
								</div>
								<div class="col-md-10" ng-if="!{{ o }}.Numero">
									<div custom-select="a.id as a.label+'&nbsp;&nbsp;'+a.Nom+'&nbsp;&nbsp;'+a.Prenom for a in getSelectData('CadrefAdherentStore',$searchTerm)" 
										 custom-select-options="{ 'async': true, 'filter':'{#{{ field.filter }}#}'}" 
										 ng-model="{{ o }}.AdherentAdherentId" 
										 class="form-control cadref-input" 
										 ng-title="{{ o }}.AdherentAdherentIdlabel+'&nbsp;&nbsp;'+obj.Nom+'&nbsp;&nbsp;'+obj.Prenom">
									</div>
								</div>
								<div class="col-md-10" ng-if="{{ o }}.Numero">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.AdherentId, o) }}							
										</div>
										<div class="col-md-10">
											<div class="control-group">
												<input type="text" class="form-control cadref-input" value="{[{ {{ o }}.Nom+'&nbsp;&nbsp;'+{{ o }}.Prenom }]}" readonly/>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row" style="height:10px"></div>

							<div class="row">
								<div class="col-md-2">
									{{ label('Montants') }}
								</div>
								<div class="col-md-10">
									<section class="panel">
										<table>
											<thead>
												<tr>
													<th>Prix</th>
													<th>Assur.</th>
													<th>Assur.</th>
													<th>Total</th>
													<th>Etat</th>
													<th>Date</th>
													<th>U</th>
													<th>Actions</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>
														<input type="text" class="form-control cadref-input" ng-model="{{ o }}.Prix" readonly style="width:60px"/>
													</td>
													<td>
														<input type="text" class="form-control cadref-input" ng-model="{{ o }}.Assurance" readonly style="width:60px"/>
													</td>
													<td>			
														<switch ng-model="{{ o }}.isAssur" ng-change="reservationAssurance()"></switch>
													</td>
													<td>
														<input type="text" class="form-control cadref-input" ng-model="{{ o }}.Total" readonly style="width:60px"/>
													</td>
													<td>
														<span class="label label-success" readonly ng-if="{{ o }}.Attente==0 && {{ o }}.Supprime==0">Inscrit</span>
														<span class="label label-info" ng-if="{{ o }}.Attente>0 && {{ o }}.Supprime==0">Attente</span>
														<span class="label label-danger" ng-if="{{ o }}.Supprime==1">Supprimé</span>
													</td>
													<td>
														<span class="label" ng-if="{{ o }}.Supprime>0">{[{ {{ o }}.DateSupprime }]}</span>
														<span class="label" ng-if="{{ o }}.Attente>0 && {{ o }}.Supprime==0">{[{ {{ o }}.DateAttente | limitTo : 16 }]}</span>
														<span class="label" ng-if="{{ o }}.Attente==0 && {{ o }}.Supprime==0">{[{ {{ o }}.DateInscription | limitTo : 11 }]}</span>
													</td>
													<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ {{ o }}.Utilisateur }]}</span></td>
													<td scope="row" class="table-action cadref-td-btn">
														<div>
															<a class="btn-abt cadref-btn-add btn-success" href="javascript: void(0);" ng-click="reservationInscrire()" title="Inscrire" ng-if="{{ o }}.Supprime>0 || {{ o }}.Attente>0"></a>
															<a class="btn-abt cadref-btn-wait btn-primary" href="javascript: void(0);" ng-click="reservationAttente()" title="Attente" ng-if="{{ o }}.Supprime==0 && {{ o }}.Attente==0"></a>
															{#<a class="btn-abt cadref-btn-del btn-danger" href="javascript: void(0);" ng-click="reservationSupprime()" title="Supprimer" ng-if="{{ o }}.Supprime==0"></a>#}
														</div>
													</td>


												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</div>
						</div>
						{# block right #}                    
						<div class="col-md-3">
						</div>
					</div>
				</div>
				<div {% if Create %}class="col-md-2"{% else %}class="col-md-1"{% endif %}>
{#					<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-click="{% if Create %}{{ identifier }}modalSave(){% else %}saveFicheCadref({{ o }}.id){% endif %}">Sauver</button>
#}					<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-click="reservationSave()">Sauver</button>
					<button type="button" class="btn btn-danger margin-inline cadref-btn-100" ng-if="{{ o }}.id" ng-click="reservationDelete({{ o }})">Supprimer</button>
					<a type="button" class="btn btn-warning margin-inline cadref-btn-100" {% if Create %}data-dismiss="modal"{% else %}href="#/{{ CurrentMenu.Url }}"{% endif %}>Annuler</a>
				</div>
			</div>
		</div>
    </section>
</div>

<script>
	$('.datepicker-only-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		format: 'DD/MM/YYYY',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});
	$('.timepicker-only-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		format: 'HH:mm',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});
	$('.datetimepicker-init').datetimepicker({
		widgetPositioning: {
			horizontal: 'left'
		},
		locale: 'fr',
		icons: {
			time: "fa fa-clock-o",
			date: "fa fa-calendar",
			up: "fa fa-arrow-up",
			down: "fa fa-arrow-down"
		}
	});


	$('.urlInput').on('keyup', function () {
		$(this).val($(this).val().replace(/[^A-Za-z0-9_\-\.]*\s*/g, ''));
	});
	//Tweak moche a voir si on peut pas faire plus propre depuis le controller :x
	$(".datepicker-only-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
	$(".timepicker-only-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
	$(".datetimepicker-init").on("dp.change", function () {
		var input = $(this).children('input').eq(0);
		input.trigger('change');
		input.trigger('input');
	});
</script>
