{# fiche printCheque classe #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean %} 
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading" style="padding-bottom:10px; padding-top:10px">
            <h4>
                {{ CurrentMenu.Titre }}
            </h4>
        </div>
        <div class="row" style="height:20px"></div>
		<div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body cadref-no-padding">
							<div class="row">
								<div class="col-xl-8">
									<div class="row">
										<div class="col-md-2">
											{{ label("Date") }}
										</div>
										<div class="col-md-2">
											<label class="input-group datepicker-only-init cadref-no-margin">
												<input id="input-objDateCheque" type="text" class="form-control cadref-input" mask="dd/dd/dddd" ng-model="obj.DateCheque" ng-init="obj.DateCheque='{{ "now"|date("d/m/Y") }}'"/>
												<span class="input-group-addon">
													<i class="icmn-calendar"></i>
												</span>
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Montant") }}
										</div>
										<div class="col-md-2">
											<div class="control-group">
												<input type="text" class="form-control cadref-input" placeholder="" ng-model="obj.Montant"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Objet") }}
										</div>
										<div class="col-md-4">
											<div class="control-group">
												<input type="text" class="form-control cadref-input" placeholder="" ng-model="obj.Montant"/>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-2">
											{{ label("Description") }}
										</div>
										<div class="col-md-4">
											<div ui-ace="{useWrapMode : true,mode: '',onLoad: aceLoaded,onChange: aceChanged}" ng-model="obj.Description" class="ace_editor" style="height:60px"></div>
										</div>
									</div>


									<div class="row" style="height:10px"></div>
									<div class="row">
										<div class="col-md-2">
										</div>
										<div class="col-md-2">
											<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="printFunction()">Imprimer</button>
										</div>
									</div>
								</div>                            
							</div>
						</div>
					</div>
				</div>
			</div>
    </section>
</div>

