<div class="form-group row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" class="form-control" name="{{ identifier }}Select.query" ng-model="{{ identifier }}Select.filter"  placeholder="Recherche..." >
            <span class="input-group-btn">
                <a href="javascript: void(0);" class="btn btn-success" ng-click="{{ identifier }}Select.store.refresh('{{ context }}')">
                    Rafraîchir
                </a>
            </span>
        </div>
    </div>
    <div class="col-md-6">
        <dir-pagination-controls boundary-links="true" pagination-context="select" pagination-id="{{ identifier }}select-pagination" template-url="/Skins/AngularAdmin/assets/vendors/dirPagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>
<table class="table table-hover nowrap margin-bottom-0" id="{{ identifier }}" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Label</th>
            <th width="50">Actions</th>
        </tr>
    </thead>
    <tbody>
    <tr dir-paginate="item in {{ identifier }}Select.data" current-page="{{ identifier }}Select.currentPage" items-per-page="{{ identifier }}Select.itemsPerPage" pagination-id="{{ identifier }}select-pagination" auto-load="true" pagination-context="{{ context }}" filter="{{ filter }}">
        <td><span class="label label-warning">{[{ item.id }]}</span></td>
        <td scope="row">
            <span ng-bind-html="item.label"></span>
        </td>
        <td width="170" style="width:170px;">
            <switch id="enabled" name="enabled" checklist-model="modalObj.{{ Field }}" checklist-value="item.id" class="green"></switch>
        </td>
    </tr>
    </tbody>
</table>
