<div id="Contenu-scroll" class="scrollbar-transparent" style="overflow: hidden;position:relative">
    <div class="CacheScroll">
        <div class="row Clinique">
            <div class="col-lg-8 col-md-8 col-sm-8 borderTopContenu">
                <div class="imgArticle ">
                    <img src="/{{ Image_Contenu_Accueil |raw }}" class="img-responsive respImage" alt="{{ Titre_Contenu_Accueil |raw}}" title="{{ Titre_Contenu_Accueil|raw }}" />
                </div>
                <div class="titreImage">
                    <p class="legende">{{ Legende_Contenu_Accueil }}</p>
                </div>
                <div class="titreArticle">
                    <h2>{{ Titre_Contenu_Accueil | raw }}</h2>
                </div>
                <div class="textArticle">
                    <p class="texte"> {{ Texte_Contenu_Accueil | raw }} </p>
                </div>
            </div>
        </div>
    </div>
 </div>

