<section class="page-content-inner">
    <ul class="list-unstyled breadcrumb">
        <li>
            <a href="#/TableauDeBord">Tableau de bord</a>
        </li>
        <li>
            <a href="#/{{ CurrentMenu.Url }}">Liste des {{ ObjectClass.getDescription() }}s</a>
        </li>
        <li>
            <a href="javascript: void(0);" ng-bind-html="obj.label"></a>
        </li>
    </ul>

    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-heading">
            <div class="pull-right">
                {% if functions|length > 0 %}
                    <div class="btn-group  margin-inline" uib-dropdown>
                        <span id="function-button" type="button" class="btn btn-info  btn-default">Fonctions</span>
                        <button type="button" class="btn btn-info  btn-default" uib-dropdown-toggle>
                            <span class="caret"></span>
                            <span class="sr-only">Split button!</span>
                        </button>
                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="function-button">
                            {% for fu in functions %}
                                <li ><a class="dropdown-item" href="javascript: void(0);" ng-click='callFunction(obj,"{{fu.Nom}}","{{fu.title}}","{{fu.type}}")'>{{fu.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                {% if operation.edit %}<button type="button" class="btn btn-default btn-warning margin-inline" ng-click="modify(obj)">Modifier</button>{% endif %}
                {% if operation.delete %}<button type="button" class="btn btn-default btn-danger margin-inline" ng-click="delete(obj)">Supprimer</button>{% endif %}
            </div>
            <h3 ng-bind-html="obj.label"></h3>
        </div>
        <div class="panel-body">
            <div class="row">
                {% if Interfaces.top %}
                <div class="col-md-12 col-lg-4">
                    <ng-map center="41,-87" zoom="6"></ng-map>
                </div>
                <div class="col-md-12 col-lg-8">
                    {% else %}
                    <div class="col-md-12 col-lg-12">
                        {% endif %}
                        {% for cat,fields in fichefields %}
                        <div class="row">
                            <h5 class="cat-title">{{ cat }}</h5>
                        {% for field in fields.elements %}
                            {% if field.large == 1 %}
                            <div class="col-md-12">
                            {% else %}
                            <div class="col-md-6">
                            {% endif %}

                            {% if field.type == "progress" %}
                                <!-- NE RIEN FAIRE-->
                            {% else %}
                                <div class="row">
                                    {% if field.large == 1 %}
                                        <div class="col-md-2 detail-label">
                                    {% else %}
                                        <div class="col-md-5 detail-label">
                                    {% endif %}
                                        <label class="form-control-label" for="l0">{% if field.parentDescription is not empty %}{{ field.parentDescription }}{% else %}{{ field.description }}{% endif %}</label>
                                    </div>
                                    {% if field.large == 1 %}
                                    <div class="col-md-10 detail-value">
                                    {% else %}
                                    <div class="col-md-7 detail-value">
                                    {% endif %}
                                        {% if field.type == "price" %}
                                            <span class="label label-warning">{[{ obj.{{ field.name }} | currency:"" }]} €</span>
                                        {% elseif field.type == "float" %}
                                            <span class="label label-warning">{[{ obj.{{ field.name }}| currency:"" }]}</span>
                                        {% elseif field.type == "extlink" %}
                                            <a class="btn btn-success btn-xs" href="https://zabbix.abtel.fr/guacamole/#/client/{[{ obj.{{ field.name }} }]}" target="_blank">{{ field.listDescr }}</a>
                                        {% elseif field.type == "int" %}
                                            {% if field.Values %}
                                                <select class="form-control" ng-model="obj.{{ field.name }}" disabled="disabled">
                                                    {% for v,k in field.Values %}
                                                        <option value="{{ v }}">{{ k }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% else %}
                                                <span class="label label-primary">{[{ obj.{{ field.name }} }]}</span>
                                            {% endif %}
                                        {% elseif field.type == "boolean" %}
                                            {% if field.special == "reverse" %}
                                                <span class="label label-success" ng-if="!obj.{{ field.name }}"><i class="fa fa-check"></i></span>
                                                <span class="label label-danger" ng-if="obj.{{ field.name }}"><i class="fa fa-times"></i></span>
                                            {% else %}
                                                <span class="label label-success" ng-if="obj.{{ field.name }}"><i class="fa fa-check"></i></span>
                                                <span class="label label-danger" ng-if="!obj.{{ field.name }}"><i class="fa fa-times"></i></span>
                                            {% endif %}
                                        {% elseif field.type == "fkey" and field.card == "short" %}
                                            <a class="btn btn-secondary btn-xs" href="#{{ field.link }}/{[{ obj.{{ field.objectName }}{{ field.name }} }]}">{[{ obj.{{ field.objectName }}{{ field.name }}label }]}</a>
                                        {% elseif field.type == "templateconfig" %}
                                            <div ui-ace="{useWrapMode : true,mode: '{{ field.subtype }}',onLoad: aceLoaded,onChange: aceChanged}" ng-model="obj.{{ field.name }}" class="ace_editor" readonly></div>
                                        {% else %}
                                            {% if field.Values %}
                                                <select class="form-control" ng-model="obj.{{ field.name }}" disabled="disabled">
                                                    {% for v,k in field.Values %}
                                                        <option value="{{ v }}">{{ k }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% elseif field.query %}
                                                <span class="btn btn-warning btn-xs" >{[{ obj.{{ field.name }}Label }]}</span>
                                            {% else %}
                                                <span  ng-bind-html="obj.{{ field.name }}"></span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                            </div>
                        {% endfor %}
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                    {% for field in fichefields %}
                        {% if field.type == "progress" %}
                            <div class="row">
                                <div class="col-md-2 detail-label">
                                    <label class="form-control-label" for="l0">{% if field.parentDescription is not empty %}{{ field.parentDescription }}{% else %}{{ field.description }}{% endif %}</label>
                                </div>
                                <div class="col-md-10 detail-value">
                                    <uib-progress class="big" ng-if="obj.{{ field.name }} >= 100">
                                        <uib-bar value="obj.{{ field.name }}" type="success" class=" progress-bar-striped progress-bar-animated"><span ng-hide="obj.{{ field.name }} < 5">{[{ obj.{{ field.name }} }]}%</span></uib-bar>
                                    </uib-progress>
                                    <uib-progress class="big" ng-if="obj.{{ field.name }} < 100">
                                        <uib-bar value="obj.{{ field.name }}" type="warning" class=" progress-bar-striped progress-bar-animated"><span ng-hide="obj.{{ field.name }} < 5">{[{ obj.{{ field.name }} }]}%</span></uib-bar>
                                    </uib-progress>
                                    <!--
                            <progress class="progress progress-danger progress-striped progress-animated big" ng-if="obj.{{ field.name }} < 100" value="{[{ obj.{{ field.name }} }]}" max="100">{[{ obj.{{ field.name }} }]}</progress>
                            <progress class="progress progress-success progress-striped progress-animated big" ng-if="obj.{{ field.name }} == 100" value="{[{ obj.{{ field.name }} }]}" max="100">{[{ obj.{{ field.name }} }]}</progress>-->
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
    </section>

    <section class="panel">
        <div class="panel-heading">
            <div class="pull-right">
                <button type="button" class="btn btn-default btn-warning margin-inline" ng-click="modify(template)">Modifier</button>
                <button type="button" class="btn btn-default btn-danger margin-inline" ng-click="reinit(template)">Reinitialiser</button>
            </div>
            <h3>Agencement</h3>
        </div>
        <div class="panel-body">
            <div ng-bind-html="template.html">

            </div>
        </div>
    </section>

    <!-- End Default Panel -->
    <div class="nav-tabs-horizontal">
        <ul class="nav nav-tabs" role="tablist">
            {% for child in ChildrenElements %}
                <li class="nav-item">
                    <a class="nav-link {% if loop.first %}active{% endif %}" href="javascript: void(0);" data-toggle="tab" data-target="#tab{{ child.objectName }}" role="tab"><b>{{ child.objectDescription }}</b> ({[{ {{ child.objectModule }}{{ child.objectName }}.store.total.children }]})</a>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content">
            {% for child in ChildrenElements %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="tab{{ child.objectName }}" role="tabpanel">
                    {% if child.recursive %}
                        {{ include(template_from_string(module(Query~'/Tree'))) }}
                    {% else %}
                        <section class="panel">
                            <div class="panel-body">
                                <ng-include src="'/{{ CurrentUrl }}/0/{{ child.objectName }}/ListChildren.htm'" ng-if="show"></ng-include>
                            </div>
                        </section>
                        <!-- End Default Panel -->
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>

</div>
{% if Interfaces.bottom %}
    <div class="widget widget-three">
        <iframe style="border:0;" ng-src="{[{ '{{ Interfaces.bottom.Grafana.url }}'+obj.CodeClient+'%20'+obj.Nom }]}" width="100%" height="1100"></iframe>
    </div>
{% endif %}


<div class="modal fade modal-size-large" id="modalfiche-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{[{ modalObj.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="modalObj.errors">
                    <ul>
                        <li ng-repeat="e in modalObj.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="modalObj.warning">
                    <ul>
                        <li ng-repeat="e in modalObj.warning">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-success" ng-if="modalObj.infos">
                    <ul>
                        <li ng-repeat="e in modalObj.infos">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div  ng-if="modalObj.success == false">
                    {{ include(template_from_string(module('Systeme/Utils/Form?Path=[!Query!]'))) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" ng-if="modalObj.success == true">Fermer</button>
                <button type="button" class="btn" data-dismiss="modal" ng-if="modalObj.success == false">Annuler</button>
                <button type="button" class="btn btn-primary" ng-if="modalObj.success == false" ng-click="modalSave()">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-size-large" id="modalfunction-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{ function.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-success" ng-show="function.success">{[{ function.message }]}</div>
                <div class="alert alert-danger" ng-show="function.errors.length > 0">
                    <ul>
                        <li ng-repeat="err in function.errors">{[{ err }]}</li>
                    </ul>
                </div>
                <div id="ajaxwrapper"
                     ng-show="function.loaded"
                     ng-include="function.url" onload="function.loaded = true">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" ng-show="function.controls.cancel" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-success" ng-show="function.controls.save" ng-click="callFunctionSave(function)">Enregistrer</button>
                <button type="button" class="btn btn-info" ng-show="function.controls.close" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>

