{# fiche Depart #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean %} 
{% set f=fields %}
{% set o=Create ? 'modalObj' : 'obj' %}

<div class="page-content-inner">
    <ul class="list-unstyled breadcrumb" ng-if="{{ o }}.id">
        <li>
            <a href="#/TableauDeBord">Tableau de bord</a>
        </li>
        <li>
            <a href="#/{{ CurrentMenu.Url }}">Liste des {{ ObjectClass.getDescription() }}</a>
        </li>
        <li>
            <a href="javascript: void(0);" ng-bind-html="'Fiche {{ ObjectClass.getDescription() }} '+(obj.label)"></a>
        </li>
    </ul>
    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-body cadref-panel-body">
            <div class="row no-gutters">
                <div {% if Create %}class="col-md-10"{% else %}class="col-md-11"{% endif %}>
					<div class="row">
						<div class="col-md-8" >
							{{ flinput(f.Lieu, o, false, '', 'width:60px; text-transform:uppercase;', true) }}
							<div class="row">
								<div class="col-md-2">
									{{ label("Type") }}
								</div>
								<div class="col-md-10">
									{{ fvalues(f.Type, o) }}
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Antenne") }}
								</div>
								<div class="col-md-10">
									<div custom-select="a.id as a.label+'  -  '+a.Libelle for a in getSelectData('CadrefAntenneStore',$searchTerm)" 
										 custom-select-options="{ 'async': true, 'filter':''}" 
										 ng-model="{{ o }}.AntenneAntenneId"
										 class="form-control cadref-input" 
										 ng-title="{{ o }}.AntenneAntenneIdlabel+'  -  '+obj.LibelleA">
									</div>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							{{ flinput(f.Libelle, o, false) }}
							<div class="row" style="height:10px"></div>
							{{ flinput(f.Adresse1, o, false) }}
							{{ flinput(f.Adresse2, o, false) }}
							{{ flinput(f.Ville, o, false) }}
							<div class="row" style="height:10px"></div>
							{{ flinput(f.GPS, o) }}
						</div>
						{# block right #}                    
						<div class="col-md-4">
						</div>
					</div>
				</div>
				<div {% if Create %}class="col-md-2"{% else %}class="col-md-1"{% endif %}>
					<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-click="saveFicheCadref({{ o }}.id)">Sauver</button>
					<button type="button" class="btn btn-danger margin-inline cadref-btn-100" ng-if="{{ o }}.id" ng-click="delete(obj)">Supprimer</button>
					<a type="button" class="btn btn-warning margin-inline cadref-btn-100" {% if Create %}data-dismiss="modal"{% else %}href="#/{{ CurrentMenu.Url }}"{% endif %}>Annuler</a>
				</div>
			</div>
		</div>
    </section>
</div>

