<header id="header" class="header-wrap">
    <section class="header">
        <div class="container" >
            <div class="row">
                <div class="col-md-3">
                    <a id="header_logo" href="/" title="{{ CurrentMagasin.Nom }}"> <img class="logo img-responsive" src="/{{ CurrentMagasin.Logo }}.mini.280x280.jpg" alt="{{ CurrentMagasin.Nom }}" /> </a>
                </div>
                <div class="col-md-9">
                    <div class="row" style="margin-bottom: 20px;">
                        <div class="col-md-4  carre-wrapper" style="padding:0;">
                            <a class="carre carre-vert" href="/Mon-compte"><i class="fa fa-user-md"></i><p>Mon compte</p></a>
                            <a class="carre carre-orange" href="/Systeme/Deconnexion"><i class="fa fa-sign-out"></i><p>Se déconnecter</p></a>
                        </div>
                        <div class="col-md-3 " style="padding:0;">
                            {{ include(template_from_string(module('Systeme/Header/TopSearch'))) }}<br />
                            {{ include(template_from_string(module('Systeme/Header/BrandSearch'))) }}
                        </div>
                        <div class="col-md-5" style="padding:0;text-align: right">
                            <h1 style="margin-top: 10px;font-size: 24px;font-weight: 800;">Bienvenue à la {{ CurrentMagasin.Nom }}.</h1>
                            {% if CurrentUser.Public != true %}
                                Bonjour <strong>{{ CurrentUser.Nom }} {{ CurrentUser.Prenom }}</strong>. Vous pouvez maintenant passer commande sur notre click and collect ou encore scanner votre ordonnance afin que nous la préparions en attendant votre arrivée.
                            {% else %}
                                <p>Consultez et préparez vos achats depuis chez vous et venez retirer vos commandes en officine sans attente.  </p>
                            {% endif %}
                        </div>
                    </div>
                    {{ include(template_from_string(component('Systeme/Bootstrap.MegaMenu'))) }}
                </div>
            </div>
        </div>
    </section>
</header>
