{# fiche printEnseignant #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,fdate,ftext,fboolean %} 
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading" style="padding-bottom:10px; padding-top:10px">
            <h4>
                {{ CurrentMenu.Titre }}
            </h4>
        </div>
        <div class="row" style="height:20px"></div>
		<div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body cadref-no-padding">

							<div class="row">
									<div class="col-xl-6">
										<div class="row">
											<div class="col-md-1">
												{{ label('Mail') }}
											</div>
											<div class="col-md-11">
												<select class="form-control cadref-input" ng-model="obj.Mail">
													{% for v,k in destinataires %}
														<option value="{{ v }}">{{ k }}</option>
													{% endfor %}
												</select>
											</div>
										</div>
										<div class="row">
											<div class="col-md-1">
												{{ label("Sujet") }}
											</div>
											<div class="col-md-11">
												<input type="text" class="form-control cadref-input" ng-model="obj.Sujet"/>
											</div>
										</div>
										<div class="row" style="height:5px"></div>
										<div class="row">
											<div class="col-md-1">
												{{ label("Corps") }}
											</div>
											<div class="col-md-11">
												<textarea ckeditor="ckHtml" contenteditable="false" class="form-control cadref-input" style="width:100%;height:80px;min-height:400px;white-space: pre-wrap;" ng-model="obj.Corps" ng-trim="false"></textarea>
											</div>
										</div>
										<div class="row" style="height:5px"></div>
										<div class="row">
											<div class="col-md-1">
												{{ label("Pièces jointes") }}
											</div>
											<div class="col-md-11">
												<div class="cadref-widget" ng-if="obj.Pieces.mode!=''">
													<div class="row">
														<div class="col-md-12">
															<div class="row">
																<div class="col-md-2">
																	{{ label('Documents') }}
																</div>
																<div class="col-md-10">
																	<input type="text" class="form-control" placeholder="" id="input-pieceFilePath" ng-model="obj.Pieces.filePath">
																	<label for="input-pieceFilePath-file" class="clickable">Choisissez un fichier</label>
																	<input id="input-pieceFilePath-file" type="file" class="form-control cadref-input" nv-file-select 
																		   options="{ alias:'FileData',formData:[],
																		   removeAfterUpload: true, inputId: 'input-pieceFilePath', model:'obj.Pieces.filePath' }" 
																		   ng-init="up_pieceFilePath = angular.copy(autoUploader)" uploader="up_pieceFilePath" style="display:none;"
																		   />
																</div>
															</div>
															<div class="row">
																<div class="col-md-12">
																	<a class="btn-abt cadref-btn-save btn-success" href="" ng-if="obj.Pieces.filePath!=''" ng-click="pieceSave()" title="Ajouter"></a>
																	<a class="btn-abt cadref-btn-cancel btn-warning" href="" ng-click="pieceCloseEdit()" title="Annuler"></a>
																</div>
															</div>						
														</div>
													</div>
												</div>
												<div  ng-if="obj.Pieces.mode==''">
													<div class="listWrap">
														<table class="table table-hover nowrap straight" id="Pieces-table" width="100%" style="line-height:1">
															<thead>
																<tr>
																	<th class="cadref-th">Fichier</th>
																	<th class="cadref-th-btn">
																		<a class="btn-abt cadref-btn-add btn-success" href="" ng-click="pieceAdd()" title="Ajouter un document"></a>
																	</th>
																</tr>
															</thead>
															<tbody>
																<tr ng-repeat="item in obj.Pieces.data" >
																	<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item }]}</span></td>
																	<td  class="table-action cadref-td-btn">
																		<a class="btn-abt cadref-btn-download btn-info" href="{[{ item.FilePath }]}" target="_blank" ng-click="pieceCloseEdit()" title="Télécharger"></a>
																		<a class="btn-abt cadref-btn-del btn-danger" href="" ng-click="pieceDelete(item)" title="Supprimer"></a>
																	</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</div>
										<div style="height: 5px"></div>
										<div class="row">
											<div class="col-md-1">
												{{ label('SMS') }}
											</div>
											<div class="col-md-11">
												<textarea class="form-control cadref-input" style="width:100%;min-height:55px;white-space:pre-wrap;" ng-model="obj.SMS"></textarea>
											</div>
										</div>
										<div style="height: 5px"></div>
										<div class="row">
											<div class="col-md-1">
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="printFunction('print')">Etiquettes</button>
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="printFunction('mail')">Mail</button>
											</div>
											<div class="col-md-2">
												<button type="button" class="btn btn-success margin-inline cadref-btn-100" ng-click="printFunction('sms')">SMS</button>
											</div>
										</div>
									</div>
							</div>


						</div>
					</div>
				</div>
			</div>
	</section>
</div>

