{# fiche FicheAttachements #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label %} 
<div>
	{% if not adherent %}<span class="cadref-ins-numero" ng-bind="attachInfo.code"></span> {% endif %}<span class="cadref-ins-nom" ng-bind="attachInfo.libelle"></span>
</div>
{% if not adherent %}
	{#	<div class="panel-body">
	#}
	<div class="row">
		<div class="col-md-12">
			<div id="attach-edit" ng-if="attachInfo.mode != ''">
				<div class="row">
					<div class="col-md-2">
						{{ label('Titre') }}
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control cadref-input" ng-model="attachObj.Titre"/>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{ label('Documents') }}
					</div>
					<div class="col-md-10">
						<input type="text" class="form-control" placeholder="" id="input-AttachementFilePath" ng-model="attachObj.FilePath">
						<label for="input-AttachementFilePath-file" class="clickable"> Choisissez un fichier </label>
						<input id="input-AttachementFilePath-file" type="file" class="form-control cadref-input" nv-file-select 
							   options="{ alias:'FileData',formData:[{ 'Module':'Cadref' }, { 'Obj' : 'Attechement' }],removeAfterUpload: true, inputId: 'input-AttachementFilePath', model:'attachObj.FilePath' }" 
							   ng-init="up_AttachementFilePath = angular.copy(autoUploader)" uploader="up_AttachementFilePath" style="display:none;"
							   />
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-disabled="attachObj.Titre=='' || attachObj.FilePath==''" ng-click="attachementSave()">Enregistrer</button>
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-warning margin-inline cadref-btn-100" ng-click="attachementCloseEdit()">Annuler</button>
					</div>
				</div>						
			</div>
		</div>
	</div>
	{#	</div>
	#}
{% endif %}
{#<div class="row" >
	<div class="col-md-12">
#}
<table class="table table-hover nowrap straight" id="CadrefAttachement-table" width="100%" style="line-height:1"  ng-if="attachInfo.mode==''">
	<thead>
		<tr>
			<th title="Id" class="list-col-th-id" hidden>ID</th>
			<th class="cadref-th">Modifié</th>
			<th class="cadref-th">Titre</th>
			<th class="cadref-th-btn">
				{% if not adherent %}
					<a class="btn-abt cadref-btn-add btn-success" href="" ng-click="attachementAdd()" title="Ajouter un document"></a>
				{% endif %}
			</th>
		</tr>
	</thead>
	<tbody>
		<tr dir-paginate="item in CadrefAttachement.data" >
			<td class="list-col-td-id" hidden>{[{ item.id }]}</td>
			<td class="cadref-td typedatetime"><span class="label">{[{ item.DateModification }]}</span></td>
			<td scope="row" class="cadref-td typevarchar"><span class="label">{[{ item.Titre }]}</span></td>
			<td  class="table-action cadref-td-btn">
				<a class="btn-abt cadref-btn-download btn-info" href="{[{ item.FilePath }]}" target="_blank" ng-click="attachementCloseEdit()" ng-if="item.FilePath" title="Télécharger"></a>
				{% if not adherent %}
					<a class="btn-abt cadref-btn-upload btn-warning" href="" ng-click="attachementModify(item)" ng-if="!item.FilePath" title="Modifier"></a>
					<a class="btn-abt btn-abt-nfo btn-primary" href="" ng-click="attachementModify(item)" title="Modifier"></a>
					<a class="btn-abt cadref-btn-del btn-danger" href="" ng-click="attachementDelete(item)" title="Supprimer"></a>
				{% endif %}
			</td>
		</tr>
	</tbody>
</table>
{#	</div>
</div>
#}
{#<input type="text" class="form-control" placeholder="" id="input-{{ ObjectType }}{{ field.name }}" ng-model="{{ scopeObj }}.{{ field.name }}">
<label for="input-{{ ObjectType }}{{ field.name }}-file" class="clickable"> Choisissez un fichier </label>
<input id="input-{{ ObjectType }}{{ field.name }}-file" type="file" nv-file-select options="{ alias:'FileData',formData:[{ 'Module':'{{ Module }}' }, { 'Obj' : '{{ ObjectType }}' }],removeAfterUpload: true, inputId: 'input-{{ ObjectType }}{{ field.name }}', model:'{{ scopeObj }}.{{ field.name }}' }" ng-init="up_{{ ObjectType }}{{ field.name }} = angular.copy({% if field.auto %}autoUploader{% else %}uploader{% endif %})" uploader="up_{{ ObjectType }}{{ field.name }}" style="display:none;" /><br/>
{% if not field.auto %}
	<ul id="toto">
		<li ng-repeat="item in up_{{ ObjectType }}{{ field.name }}.queue">
			Name: <span ng-bind="item.file.name"></span><br/>
			<button ng-click="item.upload()" class="btn btn-success btn-left">Envoyer</button>
			<button ng-click="item.remove()" class="btn btn-danger btn-right">Annuler</button>
		</li>
	</ul>
{% endif %}
#}