
<div class="component-list">
    <div class="row">
    {% for compo in Components %}
        <div class="col-md-4">
            <div class="compo" ng-click="addComponent('{{ compo.Module }}{{ compo.Title }}');">
                    <i class="compoScreen {{ compo.Screen ? compo.Screen : 'icmn-question3' }}" title="{{ compo.Name }}" alt="{{ compo.Name }}"></i>
                    <span class="compoTitle">{{ compo.Name }}</span>
            </div>
        </div>
        {% if loop.index is divisible by(3) and not loop.last%}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
    </div>
</div>