{% from "Skins/AngularAdmin/Modules/Systeme/Utils/Fiche/MacroTypes.twig" import  fvarchar,flabel, fhidden, label, fkeyshort, fkeylong,fboolean,fint,fextlink,ffloat,fplugin,ffile,fimage,fprice,fprogress,ftext %}
<div class="nav-tabs-horizontal" ng-if="displayFiche">
    <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab"
                   data-target="#tabParamsMS" role="tab"><b>Paramètres</b></a>
            </li>
    </ul>
    <div class="tab-content">
                <div class="tab-pane active" id="tabParamsMS" role="tabpanel">
                    <ul>
                        <li ng-repeat="param in paramsMS">
                            <div class="col-md-12 col-lg-6">
                                <div class="row  ficheField  type_{[{ param.type }]}">
                                    <div class="col-md-5 detail-label">
                                        <label class="form-control-label"for="l0">
                                                {[{ param.Nom }]}
                                        </label>
                                    </div>
                                    <div class="col-md-7 detail-value" ng-switch="param.type">
                                        <div ng-switch-when="int"> {{ fint(field,obj) }}</div>
                                        <div ng-switch-when="varchar"> {{ fvarchar(field,obj) }}</div>
                                        <div ng-switch-when="html"> {{ ftext(field,obj) }}</div>
                                        <div ng-switch-when="image"> {{ fimage(field,obj) }}</div>
                                        <div ng-switch-when="color">  {{ fvarchar(field,obj) }}</div>
                                        <div ng-switch-when="file"> {{ ffile(field,obj) }}</div>
                                        <div ng-switch-when="boolean"> {{ fboolean(field,obj) }}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
    </div>
</div>