
<div class="page-content-inner">
    <section class="panel">
        <div class="panel-heading">
            <h3 ng-if="!forceDisplayList">Mes minisites</h3>
            <h3 ng-if="forceDisplayList">Minisites existants</h3>
        </div>
        <div ng-if="!cliId && !forceDisplayList">
            <p class="minisite_error error_cli">
                Désolé, nous n'avons pas trouvé de client associé à votre utilisateur.
            </p>
        </div>
        <div class="panel panel-with-borders m-b-0" ng-if="cliId != 0 || forceDisplayList">
            <div class="panel-body">
                {{ include(template_from_string(module('Systeme/Utils/List'))) }}
                {% if canCreate %}
                    <a  href="javascript: void(0);" class="btn btn-warning" ng-click="{{ identifier }}add()">
                        Ajouter
                    </a>
                {% endif %}
            </div>

        </div>


    </section>

</div>

<div class="modal fade modal-size-large" id="modal-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">{[{ modalObj.title }]}</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="modalObj.errors.length">
                    <ul>
                        <li ng-repeat="e in modalObj.errors">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-warning" ng-if="modalObj.warning.length">
                    <ul>
                        <li ng-repeat="e in modalObj.warning">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div class="alert alert-success" ng-if="modalObj.infos.length">
                    <ul>
                        <li ng-repeat="e in modalObj.infos">{[{ e.Message }]}</li>
                    </ul>
                </div>
                <div ng-if="modalObj.success == false">
                    {{ include(template_from_string(module('Systeme/Utils/Form?Path='~Path))) }}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" ng-if="modalObj.success == true">Fermer</button>
                <button type="button" class="btn" data-dismiss="modal" ng-if="modalObj.success == false">Annuler</button>
                <button type="button" class="btn btn-primary" ng-click="{{ identifier }}modalSave()" ng-if="modalObj.success == false">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
{#
<div class="modal fade modal-size-large" id="modalfunction-{{ identifier }}" role="modal" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">{[{ function.title }]}</h4>
            </div>
            <div class="modal-body">
                <div id="ajaxwrapper"
                     ng-show="{{ identifier }}function.loaded"
                     ng-include="{{ identifier }}function.url" onload="{{ identifier }}function.loaded = true">
                </div>

                <div class="text-center"
                     ng-hide="{{ identifier }}function.loaded">
                    <br />
                    Chargement ...
                    <br />
                    <div class="spinload"></div>
                </div>

                <!--<ng-include src="function.url"></ng-include>-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>#}
