<div class="page-content-inner">
    {#{% if filters|length >0 %}
    <div class="widget widget-four background-transparent" >
        <div class="row">
            {% for filter in filters | slice(0,4) %}
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block step-{{ filter.color }}">
                        <span class="step-digit">
                            <i class="icmn-{{ filter.icon }}"><!-- --></i>
                        </span>
                    <div class="step-desc">
                        <span class="step-title">{{ filter.name }}</span>
                        <p>
                            Total: {{ filter.count }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}#}

    <section class="panel">
        <div class="panel-heading">
            <h3>
                {{ CurrentMenu.Titre }}
            </h3>
            {% if CurrentMenu.SousTitre %}
            <h5>
                {{ CurrentMenu.SousTitre }}
            </h5>
            {% endif %}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body">
                            {% if recursiv %}
                                {{ include(template_from_string(module('Systeme/Utils/Tree'))) }}
                            {% else %}
                                {{ include(template_from_string(module('Systeme/Utils/List'))) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Nestable -->

</div>


