<div class="page-content-inner">
    {% if filters|length >0 %}
    <div class="widget widget-four background-transparent" >
        <div class="row">
            {% for filter in filters | slice(0,4) %}
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                <div class="step-block step-{{ filter.color }}">
                        <span class="step-digit">
                            <i class="icmn-{{ filter.icon }}"><!-- --></i>
                        </span>
                    <div class="step-desc">
                        <span class="step-title">{{ filter.name }}</span>
                        <p>
                            Total: {{ filter.count }}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <section class="panel">
        <div class="panel-heading">
            <h3>
                {{ CurrentMenu.Titre }}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xl-12">
                    <div class="panel panel-with-borders m-b-0">
                        <div class="panel-body">
                            {{ include(template_from_string(module('Systeme/Utils/List'))) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Nestable -->

</div>


<div class="modal fade modal-size-large" id="modal-{{ identifier }}" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modifier {[{ obj.label }]}</h4>
            </div>
            <div class="modal-body">
                {{ include(template_from_string(module('Systeme/Utils/Form?Path=[!Query!]'))) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary">Enregistrer les modifications</button>
            </div>
        </div>
    </div>
</div>
