<section class="fiche-pane " ng-controller="{{ identifier }}Ctrl" id="{{ identifier }}Node" ng-if="{{ identifier }}gantt.display">
    <div class="row  ficheField  type_detail_exec">
        <div class="col-md-2 detail-label">
            <label class="form-control-label"for="l0">Détails de l'éxécution</label>
        </div>
        <div class="col-md-10 detail-value" style="min-height: 150px">
            <div ng-show="false"><i class="fa fa-cog fa-spin"></i> Chargement des données ...</div>
            <div gantt api="{{ identifier }}registerApi" data="{{ identifier }}gantt.data" headers="{{ identifier }}options.headers" from-date="{{ identifier }}gantt.fromdate" to-date="{{ identifier }}gantt.todate" view-scale="{{ identifier }}options.viewScale" headers-formats="{{ identifier }}options.headersFormats" show-side = "false" max-height="600">
                <gantt-tooltips></gantt-tooltips>
                <gantt-dependencies enabled="true" read-only="true" js-plumb-defaults="{
                                         Endpoint: ['Dot', {radius: 4}],
EndpointStyle: {fillStyle: '#456', strokeStyle: '#456', lineWidth: 1},
PaintStyle: {
    strokeWidth: 1,
    stroke: 'rgb(68, 85, 102)'
},
Connector: 'Flowchart',
ConnectionOverlays: [['Arrow', {location: 1, length: 12, width: 12}]]
                                         }"></gantt-dependencies>
                <!--<gantt-progress enabled="true"></gantt-progress>-->
            </div>
        </div>
    </div>
    <div class="row  ficheField  type_resources-sys" ng-if="showGraph">
        <div class="col-md-2 detail-label">
            <label class="form-control-label"for="l0">Utilisation des ressources</label>
        </div>
        <div class="col-md-10 detail-value" style="min-height: 150px">
            <div class=" clearfix" style="overflow: hidden;position: relative; padding-bottom: 0;">
                <div id="chart-bandwidth"></div>
            </div>
        </div>
    </div>
</section>
