<div class="Clinique">
    
        <div class="imgArticle ">
            <img src="/{{ Image_Clinique }}" class="img-responsive" alt="{{ Titre_image_Clinique }}" title="{{ Titre_image_Clinique }}" />
        </div>
        <div class="titreImage">
            <p class="legende">{{ Titre_image_Clinique | raw  }}</p>
        </div>
{#        <div class="titreArticle">#}
{#            <h2>La Clinique</h2>#}
{#        </div>#}
        <div class="textArticle">
            <p class="texte"> {{ Description_Clinique | raw }}
            </p>
        </div>
    
</div>
