{# fiche Classe #}
{% from "Skins/AngularAdmin/Modules/Cadref/Default/form_components.twig" import label,flabel,finput,flinput,fvalues,fquery,flquery,fdate,ftext,fboolean,fkey %} 
{% set f=fields %}
{% set o=Create ? 'modalObj' : 'obj' %}
<div class="page-content-inner">
    <ul class="list-unstyled breadcrumb" ng-if="{{ o }}.id">
        <li>
            <a href="#/TableauDeBord">Tableau de bord</a>
        </li>
        <li>
            <a href="#/{{ CurrentMenu.Url }}">Liste des {{ ObjectClass.getDescription() }}</a>
        </li>
        <li>
            <a href="javascript: void(0);" ng-bind-html="'Fiche {{ ObjectClass.getDescription() }} '+(obj.label)"></a>
        </li>
    </ul>
    <!-- Default Panel -->
    <section class="panel">
        <div class="panel-body cadref-panel-body">
            <div class="row no-gutters">
                <div {% if Create %}class="col-md-10"{% else %}class="col-md-11"{% endif %}>
					<div class="row">
						<div class="col-md-8" >
							<div class="row">
								<div class="col-md-2">
									{{ label("Antenne") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.AntenneId, 'obj') }}
										</div>
										<div class="col-md-10">
											{{ finput(f.LibelleA, 'obj', true) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Section") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.SectionId, 'obj') }}
										</div>
										<div class="col-md-10">
											{{ finput(f.LibelleS, 'obj', true) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Discipline") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.DisciplineId, 'obj') }}
										</div>
										<div class="col-md-10">
											{{ finput(f.LibelleD, 'obj', true) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Niveau") }}
								</div>
								<div class="col-md-10">
									<div class="row">
										<div class="col-md-2">
											{{ fkey(f.NiveauId, o) }}
										</div>
										<div class="col-md-10">
											{{ finput(f.LibelleN, 'obj', true) }}
										</div>
									</div>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Classe") }}
								</div>
								<div class="col-md-2">
									{{ finput(f.Classe, o, false, 'd', 'width:40px') }}
								</div>
								<div class="col-md-1">
									{{ label("Année") }}
								</div>
								<div class="col-md-1">
									{{ finput(f.Annee, o, true, '', 'width:50px') }}
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Horaires et cycle") }}
								</div>
								<div class="col-md-10">
									<section class="panel">
										<table>
											<thead>
												<tr>
													<th>Jour</th>
													<th>Heure début</th>
													<th>Heure fin</th>
													<th>Cycle début</th>
													<th>Cycle fin</th>
													<th>Séances</th>
													<th>Programa.</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="cadref-td-inscr">{{ fquery(f.JourId, o, 'width:100px') }}</td>
													<td class="cadref-td-inscr">{{ finput(f.HeureDebut, o, false, 'dd:dd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ finput(f.HeureFin, o, false, 'dd:dd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ finput(f.CycleDebut, o, false, 'dd/dd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ finput(f.CycleFin, o, false, 'dd/dd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ finput(f.Seances, o, false, 'dddd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ fvalues(f.Programmation, o, 'width:100px') }}</td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Lieu") }}
								</div>
								<div class="col-md-10">
									<div custom-select="a.id as a.label+'  -  '+a.Libelle for a in getSelectData('CadrefLieuStore',$searchTerm)" 
										 custom-select-options="{ 'async': true, 'filter':'AntenneId='+{{ o }}.AntenneAntenneId}" 
										 ng-model="{{ o }}.LieuLieuId"
										 class="form-control cadref-input" 
										 ng-title="{{ o }}.LieuLieuIdlabel+'  -  '+{{ o }}.LibelleL">
									</div>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Places") }}
								</div>
								<div class="col-md-10">
									<section class="panel">
										<table>
											<thead>
												<tr>
													<th>Places</th>
													<th>Inscrits</th>
													<th>Attentes</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="cadref-td-inscr">{{ finput(f.Places, o, false, 'dddd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">
														<input type="text" class="form-control cadref-input" ng-class="{'cadref-highlight': Number({{ o }}.Inscrits)>=Number({{ o }}.Places)}" ng-model="{{ o }}.Inscrits"
															readonly tabindex="-1" mask="dddd" style="width:80px"
														/>
													</td>
													<td class="cadref-td-inscr">{{ finput(f.Attentes, o, true, 'dddd', 'width:80px') }}</td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</div>

							<div class="row">
								<div class="col-md-2">
									{{ label("Tarif") }}
								</div>
								<div class="col-md-10">
									<section class="panel">
										<table>
											<thead>
												<tr>
													<th>Prix</th>
													<th>Réduc 1</th>
													<th>Date</th>
													<th>Réduc 2</th>
													<th>Date</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td class="cadref-td-inscr">{{ finput(f.Prix, o, false, 'dddd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ finput(f.Reduction1, o, false, 'dddd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ fdate(f.DateReduction1, o) }}</td>
													<td class="cadref-td-inscr">{{ finput(f.Reduction2, o, false, 'dddd', 'width:80px') }}</td>
													<td class="cadref-td-inscr">{{ fdate(f.DateReduction2, o) }}</td>
												</tr>
											</tbody>
										</table>
									</section>
								</div>
							</div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Enseignants") }}
								</div>
								<div class="col-md-10">
									<multiple-autocomplete class="form-control cadref-no-padding" 
										ng-model="obj.EnseignantEnseignants"
										object-property="label"
										model-labels="obj.EnseignantEnseignantslibelle"
										suggestions-arr="Enseignants">
									</multiple-autocomplete>
								</div>
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="col-md-2">
									{{ label("Notes") }}
								</div>
								<div class="col-md-10">
									{{ ftext(f.Notes, o) }}
								</div>
							</div>

						</div>
						{# block right #}                    
						<div class="col-md-4">
							<div class="row">
								{{ label('Dates de cours') }}
							</div>
							<div class="row" style="height:10px"></div>
							<div class="row">
								<div class="panel-body cadref-no-padding">
									<ng-include src="'/{{ CurrentUrl }}/0/ClasseDate/ListClasseDate.htm'"></ng-include>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						{# inscriptions #}
						{#						<div class="col-md-12">
													<section class="panel" ng-if="{{ o }}.id">
														<div class="panel-body">
															<ng-include src="'/{{ CurrentUrl }}/0/Inscription/ListInscrit.htm'" ng-if="show"></ng-include>
														</div>
													</section>
												</div> #}
					</div>
				</div>
				<div {% if Create %}class="col-md-2"{% else %}class="col-md-1"{% endif %}>
					<button type="button" class="btn btn-success margin-inline cadref-btn-100" accesskey="s" title="Alt S" ng-click="{% if Create %}{{ identifier }}modalSave(){% else %}saveFicheCadref({{ o }}.id){% endif %}">Sauver</button>
					<button type="button" class="btn btn-danger margin-inline cadref-btn-100" ng-if="{{ o }}.id" ng-click="delete(obj)">Supprimer</button>
					<a type="button" class="btn btn-warning margin-inline cadref-btn-100" {% if Create %}data-dismiss="modal"{% else %}href="#/{{ CurrentMenu.Url }}"{% endif %}>Annuler</a>
				</div>
			</div>
		</div>
	</section>
</div>

